<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Nama Tugas</strong></h3>
</div>
<form ng-submit="tambahan.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <textarea type="text" class="form-control" ng-model="tambahan.item.deskripsi" ng-required="true" rows="6" cols="20" placeholder="Nama tugas tambahan"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit"  class="btn btn-success">Simpan</button>
        <button type="reset" class="btn btn-primary" >Reset</button>
        <button type="button" ng-click="tambahan.cancel()" class="btn btn-danger" data-dismiss="modal">Kembali</button>
    </div>
</form>