<ekinerja-navbar></ekinerja-navbar>
<section style="width: 90%;padding-left: 10%;padding-top: 100px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Daftar Uraian Tugas Tahun 2017</h2>
                    </div>
                    <div class="body">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Pejabat Penilai</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 150px">Nama</td>
                                            <td>THHH</td>
                                        </tr>
                                        <tr>
                                            <td>NIP</td>
                                            <td>23141</td>
                                        </tr>
                                        <tr>
                                            <td>Pangkat/Gol</td>
                                            <td>asds</td>
                                        </tr>
                                        <tr>
                                            <td>Jabatan</td>
                                            <td>dsfs</td>
                                        </tr>
                                        <tr>
                                            <td>Unit Kerja</td>
                                            <td>asdad</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2">PEGAWAI NEGERI SIPIL YANG DINILAI</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 150px">Nama</td>
                                            <td>{{kontrak.pegawai.namaPegawai}}</td>
                                        </tr>
                                        <tr>
                                            <td>NIP</td>
                                            <td>{{kontrak.pegawai.nipPegawai}}</td>
                                        </tr>
                                        <tr>
                                            <td>Pangkat/Gol</td>
                                            <td>III/a</td>
                                        </tr>
                                        <tr>
                                            <td>Jabatan</td>
                                            <td>{{kontrak.pegawai.jabatan}}</td>
                                        </tr>
                                        <tr>
                                            <td>Unit Kerja</td>
                                            <td>{{kontrak.pegawai.unit}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-1">
                                <label style="margin-top: 5px">Cari</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Rincian Tugas dan Kegiatan...." ng-model="searchName">
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div style="padding-bottom: 10px"></div>
                        <div class="col-md-12">
                            <div class="col-md-9"></div>
                            <div class="col-md-3" style="margin-left: -10px;float: left;">
                                <button type="button" ng-click="kontrak.openUrtug()" class="btn btn-info btn-block btn-xs waves-effect" style="height: 30px"> <b>Ajukan Kontrak Tahunan</b>
                                </button>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="width: 5%; text-align: center">No</th>
                                    <th rowspan="2" style="text-align: center">Rincian Tugas dan Kegiatan</th>
                                    <th colspan="4" style="text-align: center">TARGET</th>
                                    <th rowspan="2" style="width: 10%; text-align: center">Peralatan</th>
                                    <th rowspan="2" style="width: 5%; text-align: center">Keterangan</th>
                                </tr>
                                <tr>
                                    <th style="width: 10%; text-align: center">Satuan</th>
                                    <th style="width: 5%; text-align: center">jumlah/Volume Kerja</th>
                                    <th style="width: 5%; text-align: center">Norma Waktu (Menit)</th>
                                    <th style="width: 5%; text-align: center">Beban Kerja</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="urtug in filteredData">
                                    <td>{{$index + 1 + (5 * currentPage )}}</td>
                                    <td>{{urtug.deskripsi}}</td>
                                    <td>{{urtug.satuan}}</td>
                                    <td>{{urtug.volumeKerja}}</td>
                                    <td>{{urtug.normaWaktu}}</td>
                                    <td>{{urtug.bebanKerja}}</td>
                                    <td>{{urtug.peralatan}}</td>
                                    <td>{{urtug.keterangan}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div layout="row">
                            <div class="col-md-5"></div>
                            <button class="btn btn-primary btn-circle waves-circle waves-effect" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android">
                              <i class="material-icons">navigate_before</i>
                            </button>
                            <label style="margin-top: 20px">{{currentPage+1 + '/' + maxSize}}</label>
                            <button class="btn btn-primary btn-circle waves-circle waves-effect" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android">
                              <i class="material-icons">navigate_next</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="bg_load animate-show-hide" ng-show="kontrak.loading"></div>
<div class="wrapper animate-show-hide" ng-show="kontrak.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div> -->