<!-- <div class="col-md-6 text-right" ng-hide="kontrak.penilai.nama">(BELUM DIPASANGKAN)</div> -->
<div class="wrapper">
    <ekinerja-navbar></ekinerja-navbar>
    <div class="content-wrapper">
        <section class="content">

            <div class="row" style="margin-top:50px">
                <div class="col-md-2"></div>
                <!-- <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12"><strong>Persentase Bulan JULI 2018</strong></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="progress blue">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                                <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                                <div class="progress-value">10%</div>
                                    </div>
                                    <div class="text-center" style="padding: 10px 0px"><strong>Capaian SKP</strong></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="progress yellow">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                                <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                                <div class="progress-value">Day</div>
                                    </div>
                                    <div class="text-center" style="padding: 10px 0px"><strong>Hari ke-7</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-2"></div>
                <!--<div class="col-md-6">-->
                    <!--<div class="panel panel-info">-->
                        <!--<div class="panel-heading">-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-12"><strong>Hari Bulan JULI 2018</strong></div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--<div class="progress yellow">-->
                                <!--<span class="progress-left">-->
                                    <!--<span class="progress-bar"></span>-->
                                <!--</span>-->
                                    <!--<span class="progress-right">-->
                                    <!--<span class="progress-bar"></span>-->
                                <!--</span>-->
                                    <!--<div class="progress-value">Day</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12"><strong>PEJABAT PENILAI</strong></div>
                            </div>
                        </div>
                        <div class="panel-body" style="font-size: 12px;">
                            <div class="row" ng-show="kontrak.penilai.nama">
                                <div class="col-md-12">
                                    <table style="width: 100%">
                                        <tr style="vertical-align: text-top">
                                            <td style="width: 80px">Nama</td>
                                            <td style="padding: 0px 10px;width: 20px">:</td>
                                            <td>{{kontrak.penilai.nama}}</td>
                                        </tr>
                                        <tr style="vertical-align: text-top">
                                            <td style="width: 80px">NIP</td>
                                            <td style="padding: 0px 10px;width: 20px">:</td>
                                            <td>{{kontrak.penilai.nipPegawai}}</td>
                                        </tr>
                                        <tr style="vertical-align: text-top">
                                            <td style="width: 80px">Pangkat/Gol</td>
                                            <td style="padding: 0px 10px;width: 20px">:</td>
                                            <td>{{kontrak.penilai.pangkat + ' / ' + kontrak.penilai.golongan}}</td>
                                        </tr>
                                        <tr style="vertical-align: text-top">
                                            <td style="width: 80px">Jabatan</td>
                                            <td style="padding: 0px 10px;width: 20px">:</td>
                                            <td>{{kontrak.penilai.jabatan}}</td>
                                        </tr>
                                        <tr style="vertical-align: text-top">
                                            <td style="width: 80px">Unit Kerja</td>
                                            <td style="padding: 0px 10px;width: 20px">:</td>
                                            <td>{{kontrak.penilai.unitKerja}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row" ng-hide="kontrak.penilai.nama">
                                <div class="col-md-12 text-center" style="padding-top: 50px; padding-bottom: 50px">
                                    <strong><h4>(BELUM DIPASANGKAN)</h4></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><strong>PEGAWAI NEGERI SIPIL DINILAI</strong></div>
                        <div class="panel-body" style="font-size: 12px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <table style="width: 100%">
                                        <tr style="vertical-align: text-top">
                                            <td style="width: 80px">Nama</td>
                                            <td style="padding: 0px 10px;width: 20px">:</td>
                                            <td>{{kontrak.pegawai.namaPegawai}}</td>
                                        </tr>
                                        <tr style="vertical-align: text-top">
                                            <td style="width: 80px">NIP</td>
                                            <td style="padding: 0px 10px;width: 20px">:</td>
                                            <td>{{kontrak.pegawai.nipPegawai}}</td>
                                        </tr>
                                        <tr style="vertical-align: text-top">
                                            <td style="width: 80px">Pangkat/Gol</td>
                                            <td style="padding: 0px 10px;width: 20px">:</td>
                                            <td>{{kontrak.pegawai.pangkat + ' / ' + kontrak.pegawai.golongan}}</td>
                                        </tr>
                                        <tr style="vertical-align: text-top">
                                            <td style="width: 80px">Jabatan</td>
                                            <td style="padding: 0px 10px;width: 20px">:</td>
                                            <td>{{kontrak.pegawai.jabatan}}</td>
                                        </tr>
                                        <tr style="vertical-align: text-top">
                                            <td style="width: 80px">Unit Kerja</td>
                                            <td style="padding: 0px 10px;width: 20px">:</td>
                                            <td>{{kontrak.pegawai.unit}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
               <!--  <div class="col-md-6 space-after" ng-hide="kontrak.statusKontrak">
                    <button type="button" ng-click="kontrak.openUrtug(1)" class="btn btn-primary btn-xl btn-block"><strong>PENGAJUAN TARGET BULANAN</strong></button>
                </div> -->
                <div class="col-md-6 space-after">
                    <button type="button" ng-click="kontrak.openUrtug(0)" class="btn btn-primary btn-xl btn-block"><i class="fa fa-list-alt"></i> <strong>SASARAN KERJA PEGAWAI TAHUN {{kontrak.tahun}}</strong></button>
                </div>
                <div class="col-md-6 space-after">
                    <button type="button" ng-click="kontrak.getSKP()" class="btn btn-info btn-xl btn-block"><i class="fa fa-print"></i> <strong>PRINT DOKUMEN KINERJA PEGAWAI BULAN {{kontrak.bulan  + ' ' + kontrak.tahun | uppercase}}</strong></button>
                </div>
            </div>

            <div ng-hide="kontrak.statusKontrak" style="padding: 60px; text-align: center">
                <h1>Target Bulanan Anda Belum Diatur</h1>
            </div>

            <div ng-show="kontrak.statusKontrak">
                <div class="row">
                    <div class="col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-right">
                            <li role="presentation">
                                <a href="#tambahan" data-toggle="tab">Tugas Tambahan</a>
                            </li>
                            <li role="presentation">
                                <a href="#tahunandpa" data-toggle="tab">Uraian Tugas DPA</a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#tahunannon" data-toggle="tab">Uraian Tugas Non-DPA</a>
                            </li>
                            <li class="pull-left header" style="font-size: 22px"><i class="fa fa-th"></i>Sasaran Kerja Bulan {{kontrak.bulan}} {{kontrak.tahun}}</li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tahunannon">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="bg-table">
                                                    <tr>
                                                        <th rowspan="2" class="text-center" style="vertical-align: middle">No</th>
                                                        <th rowspan="2" class="text-center" style="vertical-align: middle">Rincian Tugas dan Kegiatan</th>
                                                        <th rowspan="2" class="text-center" style="vertical-align: middle">Satuan</th>
                                                        <th colspan="2" class="text-center">Output</th>
                                                        <th rowspan="2" class="text-center" style="vertical-align: middle">Nilai (Realisasi/Sasaran)</th>
                                                        <th rowspan="2" colspan="2" class="text-center" style="vertical-align: middle">Action</th>
                                                    </tr>
                                                    <tr class="text-center">
                                                        <th class="text-center" style="vertical-align: middle">Sasaran</th>
                                                        <th class="text-center" style="vertical-align: middle">Realisasi</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="urtug in filteredDataTarget" class="text-center" ng-hide="filteredDataTarget==0">
                                                        <td>{{$index + 1 + (numPerPageTarget*currentPageTarget)}}</td>
                                                        <td class="text-left">{{urtug.urtug}}</td>
                                                        <td>{{urtug.satuanKuantitas}}</td>
                                                        <td>{{urtug.targetkuantitas}}</td>
                                                        <td>{{urtug.realisasiKuantitas}}</td>
                                                        <td>{{100*urtug.realisasiKuantitas/urtug.targetkuantitas | number:2}}</td>
                                                        <td style="width: 10%" ng-show="kontrak.laporan"><button type="button" ng-click="kontrak.openUploadTemplate(urtug,0)" class="btn btn-success">LAPORKAN</button></td>
                                                        <td style="width: 10%"><button type="button" ng-click="kontrak.progress(urtug)" class="btn btn-default">PROGRESS</button></td>
                                                    </tr>
                                                    <tr ng-show="filteredDataTarget==0">
                                                        <td colspan="7" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="align-center">
                                                    <ul style="padding-left: 0px;">
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary" ng-click="padTarget(-1)" ng-disabled="currentPageTarget==0" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                                &lt; Sebelumnya
                                                            </button>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Halaman {{currentPageTarget+1}} Dari {{maxSizeTarget}}</span>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary" ng-click="padTarget(1)" ng-disabled="maxTarget()" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                                Selanjutnya &gt;
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tahunandpa">
                                <div class="row">
                                    <div class="col-md-2 space-after">
                                        <button type="button" ng-click="kontrak.openUrtug(1)" ng-disabled="urtug_jabatan.loadUrtug" class="btn btn-primary"><i class="fa fa-angle-double-right"></i><span> Laporkan Kegiatan</span>
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="bg-table">
                                                    <tr>
                                                        <th rowspan="2" style="width: 5%; text-align: center;vertical-align: middle">No</th>
                                                        <th rowspan="2" style="text-align: center;width: 50%;vertical-align: middle">Kegiatan</th>
                                                        <!-- <th rowspan="2" style="width: 5%;text-align: center">Satuan</th> -->
                                                        <th colspan="2" class="text-center">Output</th>
                                                        <th rowspan="2" class="text-center" style="vertical-align: middle">Nilai (Realisasi/Sasaran)</th>
                                                        <!-- <th rowspan="2" style="width: 15%;text-align: center">Biaya</th> -->
                                                        <!-- <th rowspan="2" style="width: 5%;text-align: center">Action</th> -->
                                                    </tr>
                                                    <tr class="text-center">
                                                        <th class="text-center" style="vertical-align: middle">Sasaran</th>
                                                        <th class="text-center" style="vertical-align: middle">Realisasi</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="kegiatan in filteredDataKegiatan" class="text-center" ng-hide="filteredDataKegiatan==0">
                                                        <td>{{$index + 1 + (numPerPageKegiatan*currentPageKegiatan)}}</td>
                                                        <td style="text-align: left">{{kegiatan.ketKeg}}</td>
                                                        <!-- <td>{{kegiatan.targetSatuanKuantitas}}</td> -->
                                                        <td>{{kegiatan.targetKuantitas}}</td>
                                                        <td>{{kegiatan.realisasiKuantitas}}</td>
                                                        <td>{{kegiatan.realisasiKuantitas/kegiatan.targetKuantitas *100 | number:2}}</td>
                                                        <!-- <td>{{'Rp. ' + kegiatan.biaya}}</td> -->
                                                        <!-- <td style="width: 10%"><button type="button" ng-click="kontrak.openUploadTemplate(kegiatan,1)" class="btn btn-success">KERJAKAN</button></td> -->
                                                    </tr>
                                                    <tr ng-show="!filteredDataKegiatan">
                                                        <td colspan="6" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>BELUM ADA KEGIATAN YANG DISELESAIKAN</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="align-center">
                                                    <ul style="padding-left: 0px;">
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary" ng-click="padKegiatan(-1)" ng-disabled="currentPageKegiatan==0" type="button" aria-label="Use Android" style="cursor: pointer;">
                                                                &lt; Sebelumnya
                                                            </button>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Halaman {{currentPageKegiatan+1}} Dari {{maxSizeKegiatan}}</span>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary" ng-click="padKegiatan(1)" ng-disabled="maxKegiatan()" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                                Selanjutnya &gt;
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tambahan">
                                <div class="row">
                                    <div class="col-md-2 space-after">
                                        <button type="button" ng-click="kontrak.openTugasTambahan()" class="btn btn-primary"><i class="fa fa-plus"></i><span> Tambah Tugas Tambahan</span>
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="bg-table">
                                                    <tr>
                                                        <th rowspan="2" style="width: 5%; text-align: center;vertical-align: middle">No</th>
                                                        <th rowspan="2" style="text-align: center;width: 50%;vertical-align: middle">Tugas Tambahan</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="tambahan in kontrak.tugasTambahan" class="text-center" ng-hide="kontrak.tugasTambahan==0">
                                                        <td>{{$index + 1 }}</td>
                                                        <td style="text-align: left">{{tambahan.deskripsi}}</td>
                                                    </tr>
                                                    <tr ng-show="kontrak.tugasTambahan==0">
                                                        <td colspan="2" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>
    <div class="control-sidebar-bg"></div>
</div>
<div class="loader loader-default is-active" data-text="Sedang Mengambil Data" ng-show="kontrak.loading"></div>