<div class="modal-header" style="background-color:#F44236; color:#ffff;">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><b>DAFTAR KEGIATAN YANG BERSANGKUTAN</b></h3>
</div>
<form ng-submit="datasalin.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">

            <div class="row">
                <div class="row animate-show-hide">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example">
                                <thead class="bg-table">
                                <tr>
                                    <th class="text-center" style="width: 5%; vertical-align: middle" rowspan="2">No</th>
                                    <th class="text-center" style="vertical-align: middle" rowspan="2">Kegiatan</th>
                                    <th class="text-center" style="vertical-align: middle" colspan="8">Organiasasi</th>
                                </tr>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle">Pengguna Anggaran</th>
                                    <th class="text-center" style="vertical-align: middle">Pelaksana Administrasi</th>
                                    <th class="text-center" style="vertical-align: middle">Bendaraha</th>
                                    <th class="text-center" style="vertical-align: middle">PPK</th>
                                    <th class="text-center" style="vertical-align: middle">PPTK</th>
                                    <th class="text-center" style="vertical-align: middle">PPBJ</th>
                                    <th class="text-center" style="vertical-align: middle">PPHP</th>
                                    <th class="text-center" style="vertical-align: middle">Tim Teknis</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="kegiatan in filteredData" class="text-center" ng-click="datasalin.salin(kegiatan)">
                                    <td>{{$index + 1 + currentPage * entries}}</td>
                                    <td class="text-left">{{kegiatan.ketKegiatan}}</td>
                                    <td class="text-center"><i class="material-icons">{{kegiatan.penggunaAnggaranExist ? 'check' : 'remove'}}</i></td>
                                    <td class="text-center"><i class="material-icons">{{kegiatan.pelaksanaAdministrasiExist ? 'check' : 'remove'}}</i></td>
                                    <td class="text-center"><i class="material-icons">{{kegiatan.bendaharaExist ? 'check' : 'remove'}}</i></td>
                                    <td class="text-center"><i class="material-icons">{{kegiatan.ppkExist ? 'check' : 'remove'}}</i></td>
                                    <td class="text-center"><i class="material-icons">{{kegiatan.pptkExist ? 'check' : 'remove'}}</i></td>
                                    <td class="text-center"><i class="material-icons">{{kegiatan.ppbjExist ? 'check' : 'remove'}}</i></td>
                                    <td class="text-center"><i class="material-icons">{{kegiatan.pphpExist ? 'check' : 'remove'}}</i></td>
                                    <td class="text-center"><i class="material-icons">{{kegiatan.timTeknisExist ? 'check' : 'remove'}}</i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="align-center">
                                <ul style="padding-left: 0px;">
                                    <li style="display: inline-block;">
                                        <button class="btn btn-primary" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
                                            &lt; PREV
                                        </button>
                                    </li>
                                    <li style="display: inline-block;">
                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPage+1}} Of {{maxSize}}</span>
                                    </li>
                                    <li style="display: inline-block;">
                                        <button class="btn btn-primary" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
                                            NEXT &gt;
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="datasalin.cancel()" class="btn btn-success waves-effect" data-dismiss="modal">Selesai</button>
    </div>
</form>