<ekinerja-navbar></ekinerja-navbar>
<section style="width: 90%;padding-left: 10%;padding-top: 100px">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <h2>Pembuatan Surat Instruksi ({{instruksipejabat.jenis}})</h2>
                </div>
                <div class="body">
                    <form ng-submit="instruksipejabat.save()" class="form-horizontal">
                        <div class="row clearfix" style="margin-bottom: -45px;">
                            <div class="row col-md-12">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Nomor Surat</div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" ng-model="instruksipejabat.item.nomorSurat" placeholder="nomor surat" required>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control" ng-model="instruksipejabat.item.tahun" disabled required>
                                </div>
                            </div>
                            <div class="row col-md-12" style="margin-top: -15px;">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Judul Instruksi</div>
                                <div class="col-md-4">
                                    <textarea class="form-control" ng-model="instruksipejabat.item.judulInstruksi" required style="height: 100px"></textarea>
                                </div>
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Tentang</div>
                                <div class="col-md-4">
                                    <textarea class="form-control" ng-model="instruksipejabat.item.tentang" required style="height: 100px"></textarea>
                                </div>
                            </div>
                            <div class="row col-md-12" style="margin-top: -15px;">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Maksud Instruksi</div>
                                <div class="col-md-4">
                                    <textarea class="form-control" ng-model="instruksipejabat.item.alasan" required style="height: 100px"></textarea>
                                </div>
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Memberi Instruksi Kepada :</div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary waves-effect" ng-click="instruksipejabat.openPegawai()" type="button">Pilih Pegawai</button>
                                    <button class="btn btn-primary waves-effect" ng-click="instruksipejabat.openPilihan()" type="button" style="margin-left: 5px">{{instruksipejabat.target.length}} Pegawai Telah Dipilih</button>
                                </div>
                            </div>
                            <div class="row col-md-12" style="margin-top: -15px;">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Untuk</div>
                                <div class="col-md-4">
                                    <div ng-repeat="tujuan in instruksipejabat.maksud" style="padding-top: 5px">
                                        <textarea class="form-control" ng-model="tujuan.deskripsi" style="height: 100px" required></textarea>
                                    </div>
                                    <button class="btn btn-primary waves-effect" ng-click="instruksipejabat.addMaksud()" style="margin-top: 10px;">+ Tambah Maksud</button>
                                </div>
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Kota Pembuatan Surat</div>
                                <div class="col-md-4">
                                    <input class="form-control" ng-model="instruksipejabat.item.tempat" required></input>
                                </div>
                            </div>
                            <div class="row col-md-12" style="margin-top: -15px;">
                                <div class="col-md-6">
                                    <div class="col-md-4" style="margin-top:5px;font-weight: bold;margin-left: -15px;">Nama Penandatangan</div>
                                    <div class="col-md-6" style="margin-left: 10px;"> 
                                        <button class="btn btn-primary waves-effect" ng-click="instruksipejabat.openDari()" type="button">Pilih Pegawai</button>
                                        <div class="col-md-12" style="margin-left: -15px;margin-top: 5px;">
                                            <div ng-show="instruksipejabat.item.pegawaiPenandatangan"> 
                                                <table>
                                                    <tr>
                                                        <td>Nama</td>
                                                        <td style="padding: 3px">:</td>
                                                        <td>{{instruksipejabat.item.pegawaiPenandatangan.nama}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Jabatan</td>
                                                        <td style="padding: 3px">:</td>
                                                        <td>{{instruksipejabat.item.pegawaiPenandatangan.jabatan}}</td>
                                                    </tr>
                                                </table>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Waktu Pembuatan</div>
                                <div class="col-md-1">
                                    <input class="form-control" ng-model="instruksipejabat.item.durasiPengerjaan" type="text" pattern="[0-9]{1,4}" title="masukkan angka" required></input>
                                </div>
                                <div class="col-md-1" style="margin-top:5px;font-weight: bold;">Menit</div>
                            </div>
                            <div class="row col-md-12" style="margin-top: -25px;">
                                <div style="text-align: right;margin-bottom: 20px;">
                                    <button class="btn btn-primary waves-effect" type="submit" style="font-size: 20px">Simpan</button>
                                    <button class="btn btn-success waves-effect" type="button" ng-click="openPdf()" style="font-size: 20px">Lihat</button>
                                    <button class="btn btn-danger waves-effect" type="button" ng-click="instruksipejabat.back()" style="font-size: 20px">Kembali</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg_load animate-show-hide" ng-show="instruksipejabat.loading"></div>
<div class="wrapper animate-show-hide" ng-show="instruksipejabat.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>