<div class="wrapper">
<ekinerja-navbar></ekinerja-navbar>
<div class="content-wrapper">
    <section class="content">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li class="pull-left header"><i class="fa fa-list-alt"></i> Pembuatan Surat Instruksi ({{instruksipejabat.jenis}})</li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="row col-md-12">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Nomor Surat</div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" ng-model="instruksipejabat.item.nomorSurat" placeholder="nomor surat" required>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control" ng-model="instruksipejabat.item.tahun" disabled required>
                                </div>
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Tentang</div>
                                <div class="col-md-4">
                                    <textarea class="form-control" ng-model="instruksipejabat.item.tentang" required style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="row col-md-12">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Judul Instruksi</div>
                                <div class="col-md-4">
                                    <textarea class="form-control" ng-model="instruksipejabat.item.judulInstruksi" required style="height: 100px"></textarea>
                                </div>
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Memberi Instruksi Kepada :</div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary waves-effect" ng-click="instruksipejabat.openPegawai()" type="button">Pilih Pegawai</button>
                                    <button class="btn btn-primary waves-effect" ng-click="instruksipejabat.openPilihan()" type="button" style="margin-left: 5px">{{instruksipejabat.target.length}} Pegawai Telah Dipilih</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="row col-md-12">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Untuk</div>
                                <div class="col-md-4">
                                    <div ng-repeat="tujuan in instruksipejabat.maksud" style="padding-top: 5px">
                                        <textarea class="form-control" ng-model="tujuan.deskripsi" style="height: 100px" required></textarea>
                                    </div>
                                    <button class="btn btn-primary waves-effect" ng-click="instruksipejabat.addMaksud()" style="margin-top: 10px;">+ Tambah</button>
                                </div>
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Kota Pembuatan Surat</div>
                                <div class="col-md-4">
                                    <input class="form-control" ng-model="instruksipejabat.item.tempat" required></input>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="row col-md-12">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Waktu Pembuatan</div>
                                <div class="col-md-1">
                                    <input class="form-control" ng-model="instruksipejabat.item.durasiPengerjaan" type="text" pattern="[0-9]{1,4}" title="masukkan angka" required></input>
                                </div>
                                <div class="col-md-1" style="margin-top:5px;font-weight: bold;">Menit</div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="row col-md-12">
                                <div style="text-align: right;">
                                    <button class="btn btn-primary waves-effect" type="submit" style="font-size: 20px">Simpan</button>
                                    <button class="btn btn-success waves-effect" type="button" ng-click="openPdf()" style="font-size: 20px">Lihat</button>
                                    <button class="btn btn-danger waves-effect" type="button" ng-click="instruksipejabat.back()" style="font-size: 20px">Kembali</button>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="control-sidebar-bg"></div>
</div>