<div class="wrapper">
<ekinerja-navbar></ekinerja-navbar>
<div class="content-wrapper">
    <section class="content">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="pull-left header" style="font-size: 22px"><i class="fa fa-history"></i> REPORT PEGAWAI</li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="bg-table">
                                        <tr>
                                            <th class="text-center" style="width: 5%">No</th>
                                            <th class="text-center">Nama Pegawai</th>
                                            <th class="text-center" style="width: 10%">Action</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="pgw in reportPegawai.list_pegawai" ng-hide="reportPegawai.list_pegawai==0" class="text-center">
                                            <td>{{$index + 1}}</td>
                                            <td class="text-left">{{pgw.namaPegawai}}</td>
                                            <td>
                                                <button type="button" ng-click="reportPegawai.open(pgw)" class="btn btn-success waves-effect"><i class="fa fa-bar-chart" aria-hidden="true"></i> LIHAT REPORT</span></button>
                                            </td>
                                        </tr>
                                        <tr ng-show="reportPegawai.list_pegawai==0">
                                            <td colspan="3" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="control-sidebar-bg"></div>
</div>