<ekinerja-navbar></ekinerja-navbar>
<section style="padding-top: 90px;">
    <div class="container-fluid">
        <div class="card">
            <div class="page">
                <div class="header-size2">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <strong> Report Pegawai</strong>
                </div>
                <hr class="hr-space">

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="bg-table">
                                <tr>
                                    <th class="text-center" style="width: 5%">No</th>
                                    <th class="text-center">Nama Pegawai</th>
                                    <th class="text-center" style="width: 10%">Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="pgw in reportPegawai.list_pegawai" class="text-center">
                                    <td>{{$index + 1}}</td>
                                    <td class="text-left">{{pgw.namaPegawai}}</td>
                                    <td>
                                        <button type="button" ng-click="reportPegawai.open(pgw)" class="btn btn-success">Lihat Report</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg_load animate-show-hide" ng-show="reportPegawai.loading"></div>
<div class="wrapper animate-show-hide" ng-show="reportPegawai.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>