<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;">
        <strong>{{pilihurtug.isAjuan? 'PENGAJUAN SASARAN KERJA PEGAWAI BULAN' + pilihurtug.bulan : 'SASARAN KERJA PEGAWAI TAHUN' + kontrak.tahun}}</strong>
    </h3>
</div>

<form ng-submit="pilihurtug.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#nondpa" data-toggle="tab"><b>Uraian Tugas Non-DPA</b></a>
                        </li>
                        <li role="presentation">
                            <a href="#dpa" data-toggle="tab"><b>Uraian Tugas DPA</b></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="nondpa">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkbox space-after">
                                        <label><input type="checkbox" ng-model="urtugnon">Pilih Semua</label>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                                <tr ng-show="pilihurtug.isAjuan">
                                                    <th style="width: 5%; text-align: center; vertical-align: middle">{{pilihurtug.isAjuan ? 'Pilih' : 'No'}}</th>
                                                    <th style="text-align: center; vertical-align: middle">Rincian Tugas</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Volume</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Output</th>
                                                    <th style="width: 5%; text-align: center; vertical-align: middle">Waktu</th>
                                                    <th style="width: 5%; text-align: center; vertical-align: middle">Beban Kerja</th>
                                                </tr>
                                                <tr ng-hide="pilihurtug.isAjuan">
                                                    <th style="width: 5%; text-align: center; vertical-align: middle" rowspan="2">{{pilihurtug.isAjuan ? 'Pilih' : 'No'}}</th>
                                                    <th style="text-align: center; vertical-align: middle" rowspan="2">Rincian Tugas</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle" rowspan="2">Volume</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle" colspan="2">Output</th>
                                                    <th style="width: 5%; text-align: center; vertical-align: middle" rowspan="2">Waktu</th>
                                                    <th style="width: 5%; text-align: center; vertical-align: middle" rowspan="2">Beban Kerja</th>
                                                </tr>
                                                <tr ng-hide="pilihurtug.isAjuan">
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Sasaran</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Realisasi</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="urtug in filteredDataUrtugNonDpa" ng-hide="filteredDataUrtugNonDpa==0" class="text-center">
                                                    <td ng-show="pilihurtug.isAjuan"><input type="checkbox" ng-model="urtug.checked"></td>
                                                    <td ng-hide="pilihurtug.isAjuan">{{$index + 1 + (currentPageUrtugNonDpa * numPerPageUrtugNonDpa)}}</td>
                                                    <td class="text-left">{{urtug.urtug}}</td>
                                                    <td>{{urtug.satuanKuantitas}}</td>
                                                    <td ng-hide="pilihurtug.isAjuan">{{urtug.kuantitas}}</td>
                                                    <td ng-hide="pilihurtug.isAjuan">0</td>
                                                    <td ng-show="pilihurtug.isAjuan" style="width: 10px"><input class="form-control" type="number"  ng-model="urtug.targetKuantitas" ng-change="pilihurtug.validation(urtug.targetKuantitas, urtug.kuantitas, $index + (currentPageUrtugNonDpa * numPerPageUrtugNonDpa))"></td>
                                                    <td>{{urtug.waktu + ' Bulan'}}</td>
                                                    <td>{{500 * urtug.targetKuantitas | number}}</td>
                                                </tr>
                                                <tr ng-show="filteredDataUrtugNonDpa==0">
                                                    <td colspan="7" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="align-center">
                                                <ul style="padding-left: 0px;">
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padUrtugNonDpa(-1)" ng-disabled="currentPageUrtugNonDpa==0" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                            &lt; PREV
                                                        </button>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageUrtugNonDpa+1}} Of {{maxSizeUrtugNonDpa}}</span>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padUrtugNonDpa(1)" ng-disabled="maxUrtugNonDpa()" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                            NEXT &gt;
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="dpa">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkbox space-after">
                                        <label><input type="checkbox" ng-model="dpaurtug">Pilih Semua</label>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                                <tr>
                                                    <th style="width: 5%; text-align: center; vertical-align: middle"><label>{{pilihurtug.isAjuan ? 'Pilih' : 'No'}}</label></th>
                                                    <th style="text-align: center; vertical-align: middle">Rincian Tugas</th>
                                                    <th style="width: 12%; text-align: center; vertical-align: middle">Jumlah Kegiatan</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Mutu</th>
                                                    <th style="width: 12%; text-align: center; vertical-align: middle">Waktu</th>
                                                    <th style="width: 15%; text-align: center; vertical-align: middle">Biaya</th>
                                                    <th style="width: 5%; text-align: center; vertical-align: middle">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="dpa in filteredDataUrtugDpa" ng-hide="filteredDataUrtugDpa==0" class="text-center">
                                                    <td ng-show="pilihurtug.isAjuan"><input type="checkbox" ng-model="dpa.checked"></td>
                                                    <td ng-hide="pilihurtug.isAjuan">{{$index + 1 + (currentPageUrtugDpa * currentPageUrtugDpa)}}</td>
                                                    <td class="text-left">{{dpa.urtug}}</td>
                                                    <td>{{dpa.kuantitas + ' ' + dpa.satuanKuantitas}}</td>
                                                    <td>{{dpa.kualitas + '%'}}</td>
                                                    <td>{{dpa.waktu + ' Bulan'}}</td>
                                                    <td>{{'Rp. '+dpa.biayaRp}}</td>
                                                    <td><button type="button" ng-click="pilihurtug.openKegiatan(dpa)" class="btn btn-success"><i class="fa fa-eye"></i><span> Detail</span></button></td>
                                                </tr>
                                                <tr ng-show="filteredDataUrtugDpa==0">
                                                    <td colspan="7" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="align-center">
                                                <ul style="padding-left: 0px;">
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padUrtugDpa(-1)" ng-disabled="currentPageUrtugDpa==0" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                            &lt; PREV
                                                        </button>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageUrtugDpa+1}} Of {{maxSizeUrtugDpa}}</span>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padUrtugDpa(1)" ng-disabled="maxUrtugDpa()" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                            NEXT &gt;
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit"  class="{{filteredDataUrtugNonDpa==0 && filteredDataUrtugDpa==0 ? 'btn bg-gray-active waves-effect' : 'btn btn-primary'}}" ng-disabled="filteredDataUrtugNonDpa==0 && filteredDataUrtugDpa==0"><strong>Ajukan Sebagai Kontrak</strong></button>
        <button type="button" ng-click="pilihurtug.cancel()" class="btn btn-danger" data-dismiss="modal"><strong>Batal</strong></button>
    </div>
</form>