<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Pengaturan SKP {{ajuan.nama}}</strong></h3>
</div>
<form ng-submit="ajuan.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#nondpa" data-toggle="tab"><b>Uraian Tugas Non-DPA</b></a>
                        </li>
                        <li role="presentation">
                            <a href="#dpa" data-toggle="tab"><b>Uraian Tugas DPA</b></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="nondpa">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkbox space-after" ng-show="ajuan.isAjuan">
                                        <label><input type="checkbox" ng-model="urtugnon">Pilih Semua</label>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                                <tr ng-show="ajuan.isAjuan">
                                                    <th style="width: 5%; text-align: center; vertical-align: middle">{{ajuan.isAjuan ? 'Pilih' : 'No'}}</th>
                                                    <th style="text-align: center; vertical-align: middle">Rincian Tugas</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Satuan</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Output Ajuan</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Output Maksimal</th>
                                                    <!-- <th style="width: 5%; text-align: center; vertical-align: middle">Waktu</th>
                                                    <th style="width: 5%; text-align: center; vertical-align: middle">Beban Kerja</th> -->
                                                </tr>
                                                <tr ng-hide="ajuan.isAjuan">
                                                    <th style="width: 5%; text-align: center; vertical-align: middle" rowspan="2">{{ajuan.isAjuan ? 'Pilih' : 'No'}}</th>
                                                    <th style="text-align: center; vertical-align: middle" rowspan="2">Rincian Tugas</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle" rowspan="2">Volume</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle" colspan="2">Output</th>
                                                    <th rowspan="2" class="text-center" style="vertical-align: middle">Nilai (Realisasi/Sasaran)</th>
                                                </tr>
                                                <tr ng-hide="ajuan.isAjuan">
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Sasaran</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Realisasi</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="urtug in filteredDataUrtugNonDpa" ng-hide="filteredDataUrtugNonDpa==0" class="text-center">
                                                    <td ng-show="ajuan.isAjuan"><input type="checkbox" ng-model="urtug.checked"></td>
                                                    <td ng-hide="ajuan.isAjuan">{{$index + 1 + (currentPageUrtugNonDpa * numPerPageUrtugNonDpa)}}</td>
                                                    <td class="text-left">{{urtug.urtug}}</td>
                                                    <td>{{urtug.satuanKuantitas}}</td>
                                                    <td ng-hide="ajuan.isAjuan">{{urtug.targetkuantitas}}</td>
                                                    <td ng-hide="ajuan.isAjuan">{{urtug.realisasiKuantitas}}</td>
                                                    <td ng-hide="ajuan.isAjuan">{{100*urtug.realisasiKuantitas/urtug.targetkuantitas | number:2}}</td>
                                                    <td ng-show="ajuan.isAjuan" style="width: 10px"><input class="form-control" type="number" ng-model="urtug.targetKuantitas" ng-change="ajuan.validation(urtug.targetKuantitas, urtug.kuantitas - urtug.totalRealisasi, $index + (currentPageUrtugNonDpa * numPerPageUrtugNonDpa))"></td>
                                                    <td ng-show="ajuan.isAjuan">{{urtug.kuantitas - urtug.totalRealisasi}}</td>
                                                </tr>
                                                <tr ng-show="filteredDataUrtugNonDpa==0">
                                                    <td colspan="7" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="align-center">
                                                <ul style="padding-left: 0px;">
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padUrtugNonDpa(-1)" ng-disabled="currentPageUrtugNonDpa==0" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                            &lt; Sebelumnya
                                                        </button>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Halaman {{currentPageUrtugNonDpa+1}} Dari {{maxSizeUrtugNonDpa}}</span>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padUrtugNonDpa(1)" ng-disabled="maxUrtugNonDpa()" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                            Selanjutnya &gt;
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="dpa">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkbox space-after">
                                        <label><input type="checkbox" ng-model="dpaurtug">Pilih Semua</label>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                                <tr ng-show="ajuan.isAjuan">
                                                    <th style="width: 5%; text-align: center; vertical-align: middle"><label>{{ajuan.isAjuan ? 'Pilih' : 'No'}}</label></th>
                                                    <th style="text-align: center; vertical-align: middle">Rincian Tugas</th>
                                                    <th style="width: 10%; text-align: center; vertical-align: middle">Output Ajuan</th>
                                                    <th style="width: 20%; text-align: center; vertical-align: middle">Satuan</th>
                                                    <!-- <th style="width: 15%; text-align: center; vertical-align: middle">Biaya</th> -->
                                                    <!-- <th style="width: 5%; text-align: center; vertical-align: middle">Action</th> -->
                                                </tr>
                                                <tr ng-hide="ajuan.isAjuan">
                                                    <th rowspan="2" style="width: 5%; text-align: center; vertical-align: middle">No</th>
                                                    <th rowspan="2" style="text-align: center;width: 40%; vertical-align: middle">Kegiatan</th>
                                                    <th rowspan="2" style="width: 5%;text-align: center; vertical-align: middle">Satuan</th>
                                                    <th colspan="2" class="text-center">Output</th>
                                                    <th rowspan="2" class="text-center" style="vertical-align: middle">Nilai (Realisasi/Sasaran)</th>
                                                    <!-- <th rowspan="2" style="width: 15%;text-align: center">Biaya</th> -->
                                                </tr>
                                                <tr class="text-center" ng-hide="ajuan.isAjuan">
                                                    <th class="text-center" style="vertical-align: middle">Sasaran</th>
                                                    <th class="text-center" style="vertical-align: middle">Realisasi</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="dpa in filteredDataUrtugDpa" ng-hide="filteredDataUrtugDpa==0 || !ajuan.isAjuan" class="text-center">
                                                    <td ng-show="ajuan.isAjuan"><input type="checkbox" ng-model="dpa.checked"></td>
                                                    <td ng-hide="ajuan.isAjuan">{{$index + 1 + (numPerPageUrtugDpa * currentPageUrtugDpa)}}</td>
                                                    <td class="text-left">{{dpa.ketKeg}}</td>
                                                    <td> <input class="form-control" type="number" ng-model="dpa.targetKuantitas"></td>
                                                    <td> <input class="form-control" type="text" ng-model="dpa.targetSatuanKuantitas"></td>
                                                    <!-- <td>{{'Rp. '+dpa.biayaRp}}</td> -->
                                                    <!-- <td><button type="button" ng-click="ajuan.openKegiatan(dpa)" class="btn btn-success"><i class="fa fa-eye"></i><span> Detail</span></button></td> -->
                                                </tr>
                                                <tr ng-repeat="kegiatan in filteredDataUrtugDpa" class="text-center" ng-hide="filteredDataUrtugDpa==0 || ajuan.isAjuan">
                                                    <td>{{$index + 1 + (numPerPageUrtugDpa*currentPageUrtugDpa)}}</td>
                                                    <td style="text-align: left">{{kegiatan.ketKeg}}</td>
                                                    <td>{{kegiatan.targetSatuanKuantitas}}</td>
                                                    <td>{{kegiatan.targetKuantitas}}</td>
                                                    <td>{{kegiatan.realisasiKuantitas}}</td>
                                                    <td>{{kegiatan.realisasiKuantitas/kegiatan.targetKuantitas | number:2}}</td>
                                                    <!-- <td>{{'Rp. ' + kegiatan.biaya}}</td> -->
                                                </tr>
                                                <tr ng-show="filteredDataUrtugDpa==0">
                                                    <td colspan="7" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="align-center">
                                                <ul style="padding-left: 0px;">
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padUrtugDpa(-1)" ng-disabled="currentPageUrtugDpa==0" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                            &lt; Sebelumnya
                                                        </button>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Halaman {{currentPageUrtugDpa+1}} Dari {{maxSizeUrtugDpa}}</span>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padUrtugDpa(1)" ng-disabled="maxUrtugDpa()" aria-label="Use Android" type="button" style="cursor: pointer;">
                                                            Selanjutnya &gt;
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" ng-show="ajuan.isAjuan" class="{{filteredDataUrtugNonDpa==0 && filteredDataUrtugDpa==0 ? 'btn bg-gray-active waves-effect' : 'btn btn-primary'}}" ng-disabled="filteredDataUrtugNonDpa==0 && filteredDataUrtugDpa==0"><strong>Pilih Sebagai SKP Bulan {{ajuan.bulan}}</strong></button>
        <button type="button" ng-click="ajuan.cancel()" class="btn btn-danger" data-dismiss="modal"><strong>Kembali</strong></button>
    </div>
</form>