<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Ajuan Kontrak {{ajuan.nama}}</strong></h3>
</div>
<!--<form ng-submit="ajuan.save()" class="form-horizontal">-->
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#pengajuan" data-toggle="tab"><b>Uraian Tugas non-DPA Yang Diajukan</b></a>
                        </li>
                        <li role="presentation">
                            <a href="#tidakdiajukan" data-toggle="tab"><b>Uraian Tugas non-DPA Yang Tidak Diajukan</b></a>
                        </li>
                        <li role="presentation">
                            <a href="#ajuanDpa" data-toggle="tab"><b>Uraian Tugas DPA Yang Diterima</b></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="pengajuan">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 5%">No</th>
                                                <th class="text-center" style="vertical-align: middle">Rincian Tugas dan Kegiatan</th>
                                                <th class="text-center" style="vertical-align: middle; width: 800px" colspan="2">Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="urtug in filteredDataListAjuan" class="text-center">
                                                <td>{{$index + 1 + (numPerPageListAjuan*currentPageListAjuan)}}</td>
                                                <td class="text-left">{{urtug.urtug}}</td>
                                                <td>
                                                    <button type="button" ng-click="ajuan.gantiStatusUrtug(urtug, 1)" class="btn btn-danger" ng-disabled="!urtug.terima"><i class="fa fa-times" aria-hidden="true"></i> TOLAK</button>
                                                    <button type="button" ng-click="ajuan.gantiStatusUrtug(urtug, 0)" class="btn btn-success" ng-disabled="urtug.terima"><i class="fa fa-check" aria-hidden="true"></i> TERIMA</button>
                                                </td>
                                                <td><button type="button" ng-click="ajuan.openDetailSkp(urtug)" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> DETAIL</button></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="align-center">
                                        <ul style="padding-left: 0px;">
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padListAjuan(-1)" ng-disabled="currentPageListAjuan==0" aria-label="Use Android" style="cursor: pointer;">
                                                    &lt; PREV
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageListAjuan+1}} Of {{maxSizeListAjuan}}</span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padListAjuan(1)" ng-disabled="maxListAjuan()" aria-label="Use Android" style="cursor: pointer;">
                                                    NEXT &gt;
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="tidakdiajukan">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 5%">No</th>
                                                <th class="text-center" style="vertical-align: middle">Rincian Tugas dan Kegiatan</th>
                                                <th class="text-center" style="vertical-align: middle">Kuant/ Output</th>
                                                <th class="text-center" style="vertical-align: middle">Mutu</th>
                                                <th class="text-center" style="vertical-align: middle">Waktu</th>
                                                <th class="text-center" style="vertical-align: middle">Biaya</th>
                                                <th class="text-center" style="vertical-align: middle; width: 25%">Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="urtug in filteredDataListTidakAjuan" class="text-center">
                                                <td>{{$index + 1 + (numPerPageListTidakAjuan*currentPageListTidakAjuan)}}</td>
                                                <td class="text-left">{{urtug.urtug}}</td>
                                                <td>{{urtug.kuantitas + ' ' + urtug.satuanKuantitas}}</td>
                                                <td>{{urtug.kualitas + '%'}}</td>
                                                <td>{{urtug.waktu + ' Bulan'}}</td>
                                                <td>{{'Rp. ' + urtug.biayaRp}}</td>
                                                <td>
                                                    <button type="button" ng-click="ajuan.tambahkan(urtug.kdUrtug)" class="btn btn-success">TAMBAHKAN</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="align-center">
                                        <ul style="padding-left: 0px;">
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padListTidakAjuan(-1)" ng-disabled="currentPageListTidakAjuan==0" aria-label="Use Android" style="cursor: pointer;">
                                                    &lt; PREV
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageListTidakAjuan+1}} Of {{maxSizeListTidakAjuan}}</span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padListTidakAjuan(1)" ng-disabled="maxListTidakAjuan()" aria-label="Use Android" style="cursor: pointer;">
                                                    NEXT &gt;
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="ajuanDpa">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 5%">No</th>
                                                <th class="text-center" style="vertical-align: middle">Rincian Uraian Tugas</th>
                                                <th class="text-center" style="vertical-align: middle">Kegiatan</th>
                                                <th class="text-center" style="vertical-align: middle; width: 15%">Jabatan</th>
                                                <th class="text-center" style="vertical-align: middle; width: 15%">Biaya</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="kegiatan in filteredDataListKegiatan" class="text-center">
                                                <td>{{$index + 1 + (numPerPageListKegiatan*currentPageListKegiatan)}}</td>
                                                <td class="text-left">{{kegiatan.deskripsiUrtug}}</td>
                                                <td class="text-left">{{kegiatan.ketKeg}}</td>
                                                <td>{{kegiatan.statusPenanggungJawab}}</td>
                                                <td>{{'Rp. ' + kegiatan.paguAnggaran}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="align-center">
                                        <ul style="padding-left: 0px;">
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padListKegiatan(-1)" ng-disabled="currentPageListKegiatan==0" aria-label="Use Android" style="cursor: pointer;">
                                                    &lt; PREV
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageListKegiatan+1}} Of {{maxSizeListKegiatan}}</span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padListKegiatan(1)" ng-disabled="maxListKegiatan()" aria-label="Use Android" style="cursor: pointer;">
                                                    NEXT &gt;
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="ajuan.save()" class="btn btn-success waves-effect" data-dismiss="modal">Setujui</button>
        <button type="button" ng-click="ajuan.cancel()" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
    </div>