<div class="modal-header" style="background-color:#F44236; color:#ffff">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Teruskan Ke Atasan</strong></h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <label>Keterangan</label>
                <textarea class="form-control" ng-model="uptempterus.template.keterangan" style="height: 100px" required></textarea>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" ng-click="uptempterus.save()" class="btn btn-success" data-dismiss="modal">Teruskan</button>
    <button type="button" ng-click="uptempterus.cancel()" class="btn btn-danger" data-dismiss="modal">Kembali</button>
</div>