<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Tambah Pejabat Kegiatan {{skform.ket}}</strong></h3>
</div>
<form ng-submit="skform.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row space-after">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Pegawai</b></p>
                </div>
                <div class="col-md-7">
                    <input class="form-control" list="pegawai" name="kegiiatan" ng-model="skform.pj.nipPegawai" placeholder="pilih pegawai" autocomplete="off">
                    <datalist id="pegawai" style="height: 100px">
                        <option ng-repeat="data in skform.list_pegawai"
                                value="{{data.nipPegawai}}">{{data.nama}}</option>
                    </datalist>
                </div>
            </div>

            <div class="row space-after">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Pejabat</b></p>
                </div>
                <div class="col-md-7">
                    <select type="text" class="form-control" ng-model="skform.pj.jabatan" ng-required="true">
                        <option value="">pilih pejabat</option>
                        <option ng-repeat="jabatan in skform.datajabatan" value="{{jabatan.kdStatus}}">{{jabatan.status}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit"  class="btn btn-primary">Simpan</button>
        <button type="button" ng-click="skform.cancel()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
</form>