<ekinerja-navbar></ekinerja-navbar>
<section style="width: 90%;padding-left: 10%;padding-top: 100px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Pembuatan Surat Dinas ({{suratdinas.judul}})</h2>
                    </div>
                    <div class="body">
                        <form ng-submit="suratdinas.save()" class="form-horizontal">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Nomor</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="suratdinas.item.nomorUrusan" placeholder="nomor urusan" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="suratdinas.item.nomorUrut" placeholder="nomor urut" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="suratdinas.item.nomorPasanganUrut" placeholder="nomor pasangan urut" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="suratdinas.item.nomorUnit" placeholder="nomor unit" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" class="form-control" ng-model="suratdinas.item.tahun" disabled required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Sifat</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input class="form-control" ng-model="suratdinas.item.sifat" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Lampiran</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" ng-model="suratdinas.item.lampiran" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Hal</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input class="form-control" ng-model="suratdinas.item.hal" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Tempat Pembuatan Surat</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input class="form-control" ng-model="suratdinas.item.tempat" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Tanggal Pembuatan Surat</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-3">
                                        <input class="form-control" type="date" ng-model="suratdinas.item.tanggal1" required>
                                    </div>
                                </div>

                                <div class="col-md-12" style="margin-bottom:5px">
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Penerima</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-8">
                                        <div class="col-md-3" style="padding: 0px">
                                            <button class="btn btn-primary waves-effect" ng-click="suratdinas.openDari(1)" type="button" style="margin-left: 5px">Pilih Pegawai</button>
                                        </div>
                                        <div ng-show="suratdinas.item.pegawaiPenerima" class="col-md-9" style="margin-bottom: 0px">
                                            <table>
                                                <tr>
                                                    <td>Nama</td>
                                                    <td style="padding: 3px">:</td>
                                                    <td>{{suratdinas.item.pegawaiPenerima.nama}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Jabatan</td>
                                                    <td style="padding: 3px">:</td>
                                                    <td>{{suratdinas.item.pegawaiPenerima.jabatan}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Alinea Isi</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-model="suratdinas.item.alineaIsi" required style="height: 100px"></textarea>
                                </div>
                                </div>

                                <div class="col-md-12" style="margin-bottom:5px">
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Nama Penandatangan</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-8">
                                        <div class="col-md-3" style="padding: 0px">
                                            <button class="btn btn-primary waves-effect" ng-click="suratdinas.openDari(0)" type="button" style="margin-left: 5px">Pilih Pegawai</button>
                                        </div>
                                        <div ng-show="suratdinas.item.pegawaiPenandatangan" class="col-md-9" style="margin-bottom: 0px">
                                            <table>
                                                <tr>
                                                    <td>Nama</td>
                                                    <td style="padding: 3px">:</td>
                                                    <td>{{suratdinas.item.pegawaiPenandatangan.nama}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Jabatan</td>
                                                    <td style="padding: 3px">:</td>
                                                    <td>{{suratdinas.item.pegawaiPenandatangan.jabatan}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Waktu Pembuatan</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4" style="margin-left: -15px;">
                                            <input class="form-control" ng-model="suratdinas.item.durasiPengerjaan" type="number" name="quantity" required></input>
                                        </div>
                                        <div class="col-md-4" style="padding-top: 8px;">
                                            <span><b>Menit</b></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Tembusan</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6" >
                                        <div ng-repeat="tembusan in suratdinas.tembusanSurat">
                                            <form method="get">
                                                <input class="form-control" list="jabatan" name="jabatan" ng-model="tembusan.jabat" placeholder="Pilih Jabatan" ng-change="suratdinas.findJabatan($index)">
                                                <datalist id="jabatan">
                                                    <option ng-repeat="jbtn in suratdinas.list_jabatan"
                                                            value="{{jbtn.kdJabatan}}" ng-selected="selected" >{{jbtn.jabatan}}</option>
                                                </datalist>
                                            </form>
                                            <div ng-show="tembusan.jabatan">Jabatan : {{tembusan.jabatan.jabatan}}</div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary waves-effect" type="button" ng-click="suratdinas.addTembusan()" style="margin-left: 15px">+ Tambah Tembusan</button>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b></b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6" style="text-align: right">
                                        <div class="col-md-4"></div>
                                        <button class="btn btn-primary waves-effect" type="submit" style="font-size: 20px">Simpan</button>
                                        <button class="btn btn-success waves-effect" type="button" ng-click="openPdf()" style="font-size: 20px">Lihat</button>
                                        <button class="btn btn-danger waves-effect" type="button" ng-click="suratdinas.back()" style="font-size: 20px">Kembali</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg_load animate-show-hide" ng-show="suratdinas.loading"></div>
<div class="wrapper animate-show-hide" ng-show="suratdinas.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>