    <div class="overlay"></div>
<nav class="navbar navbar-simda" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <b class="navbar-brand"> &nbsp &nbsp &nbsp &nbsp E-KINERJA PEMDA KABUPATEN BEKASI</b>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="material-icons">notifications</i>
                        <span class="label-count">7</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Pesan</li>
                        <li class="body">
                            <ul class="menu">
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-blue-grey">
                                            <i class="material-icons">comment</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4>pesan</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> 4 hours ago
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-blue-grey">
                                            <i class="material-icons">comment</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4>pesan</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> 4 hours ago
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-blue-grey">
                                            <i class="material-icons">comment</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4>pesan</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> 4 hours ago
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-blue-grey">
                                            <i class="material-icons">comment</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4>pesan</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> 4 hours ago
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="javascript:void(0);">Tampilkan Semua Pesan</a>
                        </li>
                    </ul>
                </li>
                <li class="pull-right">
                    <a href="javascript:void(0);" class="js-right-sidebar" data-toggle="dropdown" role="button" data-close="true">
                        <i class="material-icons">more_vert</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section>
    <aside id="leftsidebar" class="sidebar">
        <div class="menu">
            <ul class="list">
                <li class="header">FITUR E-KINERJA</li>
                <li class="{{vm.checkLocation('master-urtug') ? 'active' : ''}}" ng-show="vm.checkRole('AD001')">
                    <a href="#/master/urtug">
                        <i class="material-icons">home</i>
                        <span>Data Master</span>
                    </a>
                </li>
                <li class="{{vm.checkLocation('urtug-jabatan') ? 'active' : ''}}" ng-show="vm.checkRole('AD002')">
                    <a href="#/urtug/jabatan">
                        <i class="material-icons">text_fields</i>
                        <span>Form Kontrak Tahunan</span>
                    </a>
                </li>
                <li class="{{vm.checkLocation('approval') ? 'active' : ''}}" ng-show="vm.checkRole('AD002')">
                    <a href="#/approval">
                        <i class="material-icons">text_fields</i>
                        <span>Persetujuan Kontrak Kerja</span>
                    </a>
                </li>
                <li class="{{vm.checkLocation('hakakses') ? 'active' : ''}}" ng-show="vm.checkRole('AD001')">
                    <a href="#/hak-akses">
                        <i class="material-icons">layers</i>
                        <span>Atur Hak Akses Pegawai</span>
                    </a>
                </li>
                <li class="{{vm.checkLocation('kontrak') ? 'active' : ''}}">
                    <a href="#/kontrak-pegawai">
                        <i class="material-icons">layers</i>
                        <span>Kontrak Kerja</span>
                    </a>
                </li>
                <li class="{{vm.checkLocation('aktivitas') ? 'active' : ''}}">
                    <a href="#/aktivitas">
                        <i class="material-icons">layers</i>
                        <span>Input Aktivitas</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="legal">
            <div class="copyright">
                &copy; 2017 <a href="javascript:void(0);">E-Kinerja</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0.1
            </div>
        </div>
        <!-- #Footer -->
    </aside>

    
    <aside id="rightsidebar" class="right-sidebar" style="position: solid">
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a href="#settings" data-toggle="tab">PENGGUNA</a></li>
            <li role="presentation"><a href="#skins" data-toggle="tab">SKINS NAVBAR</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade " id="skins">
                <ul class="demo-choose-skin">
                    <li data-theme="red" class="active">
                        <div class="red"></div>
                        <span>Red</span>
                    </li>
                    <li data-theme="pink">
                        <div class="pink"></div>
                        <span>Pink</span>
                    </li>
                    <li data-theme="purple">
                        <div class="purple"></div>
                        <span>Purple</span>
                    </li>
                    <li data-theme="deep-purple">
                        <div class="deep-purple"></div>
                        <span>Deep Purple</span>
                    </li>
                    <li data-theme="indigo">
                        <div class="indigo"></div>
                        <span>Indigo</span>
                    </li>
                    <li data-theme="blue">
                        <div class="blue"></div>
                        <span>Blue</span>
                    </li>
                    <li data-theme="light-blue">
                        <div class="light-blue"></div>
                        <span>Light Blue</span>
                    </li>
                    <li data-theme="cyan">
                        <div class="cyan"></div>
                        <span>Cyan</span>
                    </li>
                    <li data-theme="teal">
                        <div class="teal"></div>
                        <span>Teal</span>
                    </li>
                    <li data-theme="green">
                        <div class="green"></div>
                        <span>Green</span>
                    </li>
                    <li data-theme="light-green">
                        <div class="light-green"></div>
                        <span>Light Green</span>
                    </li>
                    <li data-theme="lime">
                        <div class="lime"></div>
                        <span>Lime</span>
                    </li>
                    <li data-theme="yellow">
                        <div class="yellow"></div>
                        <span>Yellow</span>
                    </li>
                    <li data-theme="amber">
                        <div class="amber"></div>
                        <span>Amber</span>
                    </li>
                    <li data-theme="orange">
                        <div class="orange"></div>
                        <span>Orange</span>
                    </li>
                    <li data-theme="deep-orange">
                        <div class="deep-orange"></div>
                        <span>Deep Orange</span>
                    </li>
                    <li data-theme="brown">
                        <div class="brown"></div>
                        <span>Brown</span>
                    </li>
                    <li data-theme="grey">
                        <div class="grey"></div>
                        <span>Grey</span>
                    </li>
                    <li data-theme="blue-grey">
                        <div class="blue-grey"></div>
                        <span>Blue Grey</span>
                    </li>
                    <li data-theme="black">
                        <div class="black"></div>
                        <span>Black</span>
                    </li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade in active" id="settings">
                <div class="demo-settings">
                    <div class="image" align="center" style="padding-top: 10px;height: 100px;">
                        <img src="favicon.ico" width="78" height="78" alt="User" />
                    </div>
                    <p>{{vm.pegawai.nipPegawai}}</p>
                    <p>{{vm.pegawai.namaPegawai}}</p>
                    <p style="color: grey">{{vm.pegawai.jabatan}}</p>
                    <p style="color: grey">{{vm.pegawai.unit}}</p>
                    <ul class="setting-list" >
                        <li>
                            <a href="javascript:void(0)" class="btn btn-info btn-block waves-effect">
                                <i class="material-icons">person</i>
                                <span>Profile</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="setting-list" style="margin-top: -20px">
                        <li>
                            <button class="btn btn-info btn-block waves-effect" ng-click="vm.logout()">
                                <i class="material-icons">lock</i>
                                <span>LOGOUT</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</section>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="assets/js/demo.js"></script>
<script src="assets/js/admin.js"></script>
<script src="assets/plugins/node-waves/waves.js"></script>
<script src="assets/js/hoverDropdown.js"></script>
<script src="assets/js/metronic.js"></script>
<script src="assets/js/layout.js"></script>
<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>