<!--<div style="margin-top: 100px"></div>-->
<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;">Upload Bukti Kinerja Bulan {{uptemp.bulan}} {{uptemp.tahun}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-body">
        <div class="body">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="body">
                        <div class="col-md-12" ng-hide="uptemp.isDPA">
                            <div class="col-sm-4">
                                <p><b>Nama Uraian Tugas</b></p>
                            </div>
                            <div class="col-md-8">
                                <textarea style="text-align: justify; height: 150px; margin-top: 5px" class="form-control" ng-model="uptemp.urtug.urtug" disabled required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="uptemp.isDPA">
                            <div class="col-sm-4">
                                <p><b>Nama Uraian Tugas</b></p>
                            </div>
                            <div class="col-md-8">
                                <textarea style="text-align: justify; height: 150px; margin-top: 5px" class="form-control" ng-model="uptemp.urtug.deskripsiUrtug" disabled required></textarea>
                            </div>
                        </div>

                        <div class="col-md-12" ng-show="uptemp.isDPA">
                            <div class="col-sm-4">
                                <p><b>Nama Kegiatan</b></p>
                            </div>
                            <div class="col-md-8">
                                <textarea style="text-align: justify; height: 150px; margin-top: 5px" class="form-control" ng-model="uptemp.urtug.ketKeg" disabled required></textarea>
                            </div>
                        </div>

                        <!-- <div class="col-md-12" style="margin-top: 10px">
                            <div class="col-sm-4">
                                <p style="margin-top: 10px"><b>Durasi Penyelesaian</b></p>
                            </div>
                            <div class="col-md-6" style="padding-right: 0px">
                                <input type="number" class="form-control" ng-model="uptemp.item.durasipenyelesaian" required>
                            </div>
                            <div class="col-md-2" style="padding-left: 5px">
                                <p style="margin-top: 10px">menit</p>
                            </div>
                        </div> -->
                        <div class="col-md-12" style="margin-top: 10px">
                            <div class="col-sm-4">
                                <p><b>Keterangan</b></p>
                            </div>
                            <div class="col-md-8">
                                <textarea class="form-control" ng-model="uptemp.item.keterangan" style="height: 100px" required></textarea>
                            </div>
                        </div> 
                        <div class="col-md-12" style="margin-top: 10px">
                            <div class="col-sm-4">
                                <p style="margin-top: 10px"><b>Bukti (File)</b></p>
                            </div>
                            <div class="col-md-8">
                                <form enctype="multipart/form-data">
                                    <input type="file" name="file" onchange="angular.element(this).scope().uploadPic(this.files)">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" ng-click="uptemp.uploadTemplate()" class="btn btn-success waves-effect" data-dismiss="modal">Simpan</button>
    <button type="button" ng-click="uptemp.cancel()" class="btn btn-danger waves-effect" data-dismiss="modal">Kembali</button>

</div>