<ekinerja-navbar></ekinerja-navbar>
<section style="padding-top: 90px;">
    <div class="container-fluid">
        <div class="card">
            <div class="page">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" style="margin: 0px">
                            <table>
                                <tr>
                                    <td><i class="material-icons inline-icon">dvr</i></td>
                                    <td class="header-size2" style="vertical-align: middle">&nbsp<strong>Persetujuan Kontrak Kerja Pegawai</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="hr-space">

                <div class="row space-after" ng-hide="kontrakdpa.urtug">
                    <div class="col-md-4">
                        <button type="button" ng-click="kontrakdpa.kembali()" class="btn btn-info"><b>Kembali</b></button>
                    </div>
                </div>

                <div class="row" ng-show="kontrakdpa.urtug">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example">
                                <thead class="bg-table">
                                <tr>
                                    <th class="text-center" style="width: 5%">No</th>
                                    <th class="text-center">Rincian Uraian Tugas</th>
                                    <th class="text-center" style="width: 5%">Pending</th>
                                    <th class="text-center" style="width: 5%">Diterima</th>
                                    <th class="text-center" style="width: 5%">Ditolak</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="urtug in kontrakdpa.urtugDpa" ng-click="kontrakdpa.gotoKegiatan(urtug)" class="text-center">
                                    <td>{{$index + 1}}</td>
                                    <td class="text-left">{{urtug.deskripsiUrtug}}</td>
                                    <td>{{urtug.pending}}</td>
                                    <td>{{urtug.terima}}</td>
                                    <td>{{urtug.tolak}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="kontrakdpa.kegiatan">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example">
                                <thead class="bg-table">
                                <tr>
                                    <th class="text-center" style="width: 5%">No</th>
                                    <th class="text-center">Rincian Kegiatan</th>
                                    <th class="text-center" style="width: 5%">Pending</th>
                                    <th class="text-center" style="width: 5%">Diterima</th>
                                    <th class="text-center" style="width: 5%">Ditolak</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="kegiatan in kontrakdpa.urtugKegiatan" ng-click="kontrakdpa.gotoPj(kegiatan)" class="text-center">
                                    <td>{{$index + 1}}</td>
                                    <td class="text-left">{{kegiatan.ketKeg}}</td>
                                    <td>{{kegiatan.pending}}</td>
                                    <td>{{kegiatan.terima}}</td>
                                    <td>{{kegiatan.tolak}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="kontrakdpa.pj">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example">
                                <thead class="bg-table">
                                <tr>
                                    <th class="text-center">No</th>
                                    <th class="text-center">Nip</th>
                                    <th class="text-center">Nama Pegawai</th>
                                    <th class="text-center">Jabatan</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="pj in kontrakdpa.kegiatanPj" class="text-center">
                                    <td>{{$index + 1}}</td>
                                    <td class="text-left">{{pj.nipPegawai}}</td>
                                    <td class="text-left">{{pj.namaPegawai}}</td>
                                    <td>{{pj.statusPenanggungJawab}}</td>
                                    <td>{{pj.statusApproval == 0 ? 'Pending' : pj.statusApproval == 1 ? 'Diterima' : 'Ditolak'}}</td>
                                    <td ng-show="{{pj.statusApproval == 2}}">
                                        <button type="button" ng-click="kontrakdpa.editPJ(pj)" class="btn btn-success">Ubah</button>
                                    </td>
                                    <td ng-hide="{{pj.statusApproval == 2}}">
                                        -
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="loader loader-default is-active" data-text="Sedang Mengambil Data" ng-show="kontrakdpa.loading"></div>