<div class="wrapper">
<ekinerja-navbar></ekinerja-navbar>
<div class="content-wrapper">
    <section class="content">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="pull-left header" style="font-size: 22px"><i class="fa fa-history"></i> REKAPITULASI PERILAKU KINERJA PEGAWAI</li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" ng-click="reportPerilaku.getSP()" class="btn btn-primary btn waves waves-effect"><i class="fa fa-print"></i><b> Print Rekapitulasi Perilaku Kinerja</b></button>
                            </div>
                            <div class="col-md-4 pull-right" style="padding-bottom: 10px;">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="searchNamaJabatan" ng-required="true" placeholder="Cari berdasarkan jabatan...">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row space-after">
                                    <div class="col-md-4">
                                        <span>Kepala Dinas</span>
                                        <form method="get">
                                            <input class="form-control" list="pegawaiskpd" name="pegawaiskpd" ng-model="reportPerilaku.kadin" placeholder="Pilih Jabatan" ng-click="reportPerilaku.kadin = ''">
                                            <datalist id="pegawaiskpd">
                                                <option ng-repeat="pgw in reportPerilaku.pegawaiDinas"
                                                        value="{{pgw.nipPegawai}}" ng-selected="selected">{{pgw.nama}}</option>
                                            </datalist>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <span>Verifikator</span>
                                        <form method="get">
                                            <input class="form-control" list="pegawaidinas" name="pegawaidinas" ng-model="reportPerilaku.verifikator" placeholder="Pilih Jabatan" ng-click="reportPerilaku.verifikator = ''">
                                            <datalist id="pegawaidinas">
                                                <option ng-repeat="pgwDinas in reportPerilaku.pegawaiDinas"
                                                        value="{{pgwDinas.nipPegawai}}" ng-selected="selected">{{pgwDinas.nama}}</option>
                                            </datalist>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <span>Penanggung Jawab</span>
                                        <form method="get">
                                            <input class="form-control" list="pgwSKPD" name="pgwSKPD" ng-model="reportPerilaku.pj" placeholder="Pilih Jabatan" ng-click="reportPerilaku.pj = ''">
                                            <datalist id="pgwSKPD">
                                                <option ng-repeat="pgwPJ in reportPerilaku.pegawaiDinas"
                                                        value="{{pgwPJ.nipPegawai}}" ng-selected="selected">{{pgwPJ.nama}}</option>
                                            </datalist>
                                        </form>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example">
                                        <thead class="bg-table">
                                        <tr>
                                            <th class="text-center" style="width: 5%; vertical-align: middle" rowspan="2">No</th>
                                            <th class="text-center" style="vertical-align: middle" rowspan="2">Nama</th>
                                            <th class="text-center" style="vertical-align: middle" rowspan="2">Jabatan</th>
                                            <th class="text-center" style="vertical-align: middle" colspan="2">Tidak Hadir (Hari)</th>
                                            <th class="text-center" style="vertical-align: middle" colspan="2">Perekaman Datang/Pulang Saja/Datang Terlambat dan Pulang Sebelum Waktunya (menit)</th>
                                            <th class="text-center" style="vertical-align: middle" colspan="2">Tidak Hadir Apel</th>
                                            <th class="text-center" style="vertical-align: middle" colspan="2">Tidak Hadir Rapat/Sidang Paripurna (kali)</th>
                                            <th class="text-center" style="vertical-align: middle" colspan="2">Razia Gerakan Disiplin Aparatur (kali)/Pelanggaran Disiplin lain</th>
                                            <th class="text-center" style="vertical-align: middle" colspan="2">Manipulasi Data Kinerja</th>
                                            <th class="text-center" style="vertical-align: middle">Total Faktor Pengurang TPP</th>
                                            <th class="text-center" style="vertical-align: middle">Nilai (Kebalikan dari pengurangan)</th>
                                            <th class="text-center" style="vertical-align: middle" rowspan="2">Action</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle">Data</th>
                                            <th class="text-center" style="vertical-align: middle">Nilai</th>
                                            <th class="text-center" style="vertical-align: middle">Data</th>
                                            <th class="text-center" style="vertical-align: middle">Nilai</th>
                                            <th class="text-center" style="vertical-align: middle">Data</th>
                                            <th class="text-center" style="vertical-align: middle">Nilai</th>
                                            <th class="text-center" style="vertical-align: middle">Data</th>
                                            <th class="text-center" style="vertical-align: middle">Nilai</th>
                                            <th class="text-center" style="vertical-align: middle">Data</th>
                                            <th class="text-center" style="vertical-align: middle">Nilai</th>
                                            <th class="text-center" style="vertical-align: middle">Data</th>
                                            <th class="text-center" style="vertical-align: middle">Nilai</th>
                                            <th class="text-center" style="vertical-align: middle">Jumlah(Σ)</th>
                                            <th class="text-center" style="vertical-align: middle">100-Σ Faktor</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr  class="text-center">
                                            <td class="text-center" style="font-weight: bold;">1</td>
                                            <td class="text-center" style="font-weight: bold;">2</td>
                                            <td class="text-center" style="font-weight: bold;">3</td>
                                            <td class="text-center" colspan="2" style="font-weight: bold;">4</td>
                                            <td class="text-center" colspan="2" style="font-weight: bold;">5</td>
                                            <td class="text-center" colspan="2" style="font-weight: bold;">6</td>
                                            <td class="text-center" colspan="2" style="font-weight: bold;">7</td>
                                            <td class="text-center" colspan="2" style="font-weight: bold;">8</td>
                                            <td class="text-center" colspan="2" style="font-weight: bold;">9</td>
                                            <td class="text-center" style="font-weight: bold;">10</td>
                                            <td class="text-center" style="font-weight: bold;">11</td>
                                            <td class="text-center" style="font-weight: bold;">12</td> 
                                        </tr>
                                        <tr ng-repeat="perilaku in filteredDataListPerilaku | filter:searchNamaJabatan" class="text-center">
                                            <td>{{$index + 1 + (numPerPageListPerilaku*currentPageListPerilaku)}}</td>
                                            <td class="text-center">{{perilaku.namaPegawai}}</td>
                                            <td class="text-center">{{perilaku.namaJabatan}}</td>
                                            <td class="text-center">{{perilaku.dataHadir}}</td>
                                            <td class="text-center">{{perilaku.nilaiHadir}}</td>
                                            <td class="text-center">{{perilaku.dataPerekamanDatangPulang}}</td>
                                            <td class="text-center">{{perilaku.nilaiPerekamanDatangPulang}}</td>
                                            <td class="text-center">{{perilaku.dataHadirApel}}</td>
                                            <td class="text-center">{{perilaku.nilaiHadirApel}}</td>
                                            <td class="text-center">{{perilaku.dataHadirRapat}}</td>
                                            <td class="text-center">{{perilaku.nilaiHadirRapat}}</td>
                                            <td class="text-center">{{perilaku.dataRazia}}</td>
                                            <td class="text-center">{{perilaku.nilaiRazia}}</td>
                                            <td class="text-center">{{perilaku.dataManipulasiData ? 'iya' : 'tidak' }}</td>
                                            <td class="text-center">{{perilaku.nilaiManipulasiData ? '1' : '0'}}</td>
                                            <td class="text-center">{{perilaku.totalFaktorPeuranganTpp}}</td>
                                            <td class="text-center">{{perilaku.nilaiKebalikan}}</td>
                                            <td class="text-center">
                                                <button type="button" ng-click="reportPerilaku.open(perilaku)" class="btn btn-success btn waves waves-effect"><i class="fa fa-plus" aria-hidden="true"></i> Input</button>
                                            </td>
                                        </tr>
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="align-center">
                                        <ul style="padding-left: 0px;">
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padListPerilaku(-1)" ng-disabled="currentPageListPerilaku==0" aria-label="Use Android" style="cursor: pointer;">
                                                    &lt; PREV
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageListPerilaku+1}} Of {{maxSizeListPerilaku}}</span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padListPerilaku(1)" ng-disabled="maxListPerilaku()" aria-label="Use Android" style="cursor: pointer;">
                                                    NEXT &gt;
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="control-sidebar-bg"></div>
</div>
<!-- <div class="loader loader-default is-active" data-text="Sedang Mengambil Data" ng-show="master.loading"></div> -->