<ekinerja-navbar></ekinerja-navbar>
<section style="padding-top: 90px;">
    <div class="container-fluid">
        <div class="card">
            <div class="page">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" style="margin: 0px">
                            <table>
                                <tr>
                                    <td><i class="material-icons inline-icon" style="padding-right: 10px">perm_data_setting</i></td>
                                    <td class="header-size2" style="vertical-align: middle"><strong>Pengumpulan Data Uraian Tugas Berdasarkan Jabatan Unit {{urtug_jabatan.unit}}</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="hr-space">

                <div class="row space-after">
                    <div class="col-md-4">
                        <form method="get">
                            <input class="form-control" list="jabatan" name="jabatan" ng-model="jabatan" placeholder="Pilih Jabatan yang Akan di Pasangkan dengan Uraian Tugas" ng-click="jabatan = ''">
                            <datalist id="jabatan">
                                <option ng-repeat="jabatan in urtug_jabatan.list_jabatan"
                                        value="{{jabatan.kdJabatan}}" ng-selected="selected">{{jabatan.jabatan}}</option>
                            </datalist>
                        </form>
                    </div>
                </div>

                <div ng-hide="jabatan" class="row">
                    <div class="col-md-12">
                        <div class="text-center" style="padding: 100px">
                            <h1>Pilih Jabatan Terlebih Dahulu</h1>
                        </div>
                    </div>
                </div>

                <div ng-show="jabatan">
                    <div class="row space-after">
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td>Nama Jabatan :</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{urtug_jabatan.jabatan.jabatan}}</b></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td colspan="2">Pejabat Penilai :</td>
                                    </tr>
                                    <tr>
                                        <td ng-show="urtug_jabatan.penilai" >
                                            <b>{{urtug_jabatan.penilai.nama}} ({{urtug_jabatan.penilai.jabatan}})</b>&nbsp&nbsp&nbsp
                                        </td>
                                        <td ng-hide="urtug_jabatan.penilai" >
                                            <b>(Belum Dipasangkan)</b>&nbsp&nbsp&nbsp
                                        </td>
                                        <td style="width: 30%">
                                            <button type="button" ng-click="urtug_jabatan.changePenilai()" class="btn btn-info">
                                                <i class="material-icons">edit</i>
                                                <span>UBAH</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#urtugjab" data-toggle="tab"><b>Atur Uraian Tugas Jabatan</b></a>
                                </li>
                                <li role="presentation">
                                    <a href="#statusurtug" data-toggle="tab"><b>Atur Status Uraian Tugas</b></a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="urtugjab">
                                    <div class="row">
                                        <div class="col-md-2 space-after">
                                            <button type="button" ng-click="urtug_jabatan.open()" ng-disabled="urtug_jabatan.loadUrtug" class="btn btn-primary"><i class="material-icons">settings</i><span> ATUR URAIAN TUGAS</span>
                                            </button>
                                        </div>
                                        <div class="col-md-7"></div>
                                        <div class="col-md-3 space-after">
                                            <input type="text" class="form-control" ng-model="searchNameUrtug" ng-required="true" placeholder="Cari berdasarkan Rincian Tugas...">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead class="bg-table">
                                                    <tr>
                                                        <th class="text-center" style="width: 5%">No</th>
                                                        <th class="text-center">Rincian Tugas dan Kegiatan</th>
                                                        <th class="text-center" style="width: 10%">Action</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <tr ng-repeat="urtug in filteredData">
                                                        <td class="text-center">{{$index + 1 + (5 * currentPage )}}</td>
                                                        <td>{{urtug.uraianTugas.deskripsi}}</td>
                                                        <td class="text-center">
                                                            <button type="button" ng-click="urtug_jabatan.deleteUrtug(urtug.uraianTugas.kdUrtug)" class="btn btn-danger"><i class="material-icons">delete</i><span> HAPUS</span></button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="align-center">
                                                        <ul style="padding-left: 0px;">
                                                            <li style="display: inline-block;">
                                                                <button class="btn btn-primary" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
                                                                    &lt; PREV
                                                                </button>
                                                            </li>
                                                            <li style="display: inline-block;">
                                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPage+1}} Of {{maxSize}}</span>
                                                            </li>
                                                            <li style="display: inline-block;">
                                                                <button class="btn btn-primary" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
                                                                    NEXT &gt;
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="statusurtug">
                                    <div class="row">
                                        <div class="col-md-2 space-after">
                                            <button type="button" ng-click="urtug_jabatan.status()" ng-disabled="urtug_jabatan.loadUrtug" class="btn btn-primary"><i class="material-icons">settings</i><span> ATUR STATUS URAIAN TUGAS</span>
                                            </button>
                                        </div>
                                        <div class="col-md-7"></div>
                                        <div class="col-md-3 space-after">
                                            <input type="text" class="form-control" ng-model="searchNameJenis" ng-required="true" placeholder="Cari berdasarkan Rincian Tugas...">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead class="bg-table">
                                                    <tr>
                                                        <th class="text-center" style="width: 5%">No</th>
                                                        <th class="text-center">Rincian Tugas dan Kegiatan</th>
                                                        <th class="text-center" style="width: 10%">Jenis</th>
                                                        <th class="text-center" style="width: 25%">Action</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <tr ng-repeat="urtug in filteredDataJenis">
                                                        <td class="text-center">{{$index + 1 + (5 * currentPage )}}</td>
                                                        <td>{{urtug.urtug}}</td>
                                                        <td class="text-center">{{urtug.jenisUrtug}}</td>
                                                        <td class="text-center">
                                                            <button type="button" class="btn btn-primary" ng-click="urtug_jabatan.kegiatan(urtug)" ng-show="urtug.jenis"><i class="material-icons">edit</i><span> KEGIATAN </span></button>
                                                            <button type="button" class="btn btn-success" ng-click="urtug_jabatan.openDetailUrtug(urtug)" ng-show="!urtug.jenis"><i class="material-icons">visibility</i><span> DETAIL</span></button>
                                                            <button type="button" ng-click="urtug_jabatan.deleteUrtugJenis(urtug)" class="btn btn-danger"><i class="material-icons">delete</i><span> HAPUS</span></button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="align-center">
                                                        <ul style="padding-left: 0px;">
                                                            <li style="display: inline-block;">
                                                                <button class="btn btn-primary" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
                                                                    &lt; PREV
                                                                </button>
                                                            </li>
                                                            <li style="display: inline-block;">
                                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPage+1}} Of {{maxSize}}</span>
                                                            </li>
                                                            <li style="display: inline-block;">
                                                                <button class="btn btn-primary" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
                                                                    NEXT &gt;
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<div class="bg_load animate-show-hide" ng-show="urtug_jabatan.loading"></div>
<div class="wrapper animate-show-hide" ng-show="urtug_jabatan.loadUrtug">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div> 