<div style="background-color: #D32F2F;width: 100%;height: 100%;padding-top: 170px; position: absolute;">
<div class="login-page" style="margin-top: -70px">
    <div class="login-box" style="background-color: #D32F2F">
        <div>
            <h2 align="center" style="margin-top: -20px;margin-left: -20px;"><img src="http://10.2.1.32:8080/api/get-logo-ekinerja" style="height: 170px;width: 310px;"></h2>
        </div>
        <br>
        <div class="card" style="margin-top: -70px;">
            <div class="body">
                <div ng-show="error" class="alert alert-danger">{{error}}</div>
                <form   name="form" role="form" ng-submit="login.login()">
                    <div class="input-group" ng-class="{ 'has-error': form.nip.$dirty && form.nip.$error.required }">
                        <span class="input-group-addon" >
                             <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="nip" id="nip" placeholder="NIP" ng-model="nip" required autofocus />
                        </div>
                        <span ng-show="form.nip.$dirty && form.nip.$error.required" class="help-block">NIP harus diisi</span>
                    </div>
                    <div class="input-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="password" required />
                        </div>
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password harus diisi</span>
                    </div>
                    <div class="row"  style="padding-left: 15px;padding-right: 15px; text-align: center">
                        <button class="btn btn-block btn-block bg-primary waves-effect" ng-disabled="form.$invalid" type="submit" ng-hide="dataLoading">Masuk</button>
                        <div ng-show="dataLoading">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ></span> Loading...
                        </div>
                    </div>
                </form>
                <!-- <div class="loader"></div> -->
            </div>
        </div>
        <div class="msg" style="margin-bottom: 0px; color: white;"><b>Thanks for your partisipation<br>Let's make success E-Kinerja Kabupaten Bekasi</b></div>
    </div>  
</div>
</div>
<!-- <script src="../assets/plugins/node-waves/waves.js"></script>
<script src="../assets/js/admin.js"></script> -->