<div class="modal-header" style="background-color:#F44236; color:#ffff">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Detail Kegiatan Pada Tanggal {{detailReportPegawaiKegiatan.tanggal}}</strong></h3>
</div>
<form ng-submit="ajuan.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-table">
                            <tr>
                                <th class="text-center" style="width: 5%">No</th>
                                <th class="text-center">Kode Surat</th>
                                <th class="text-center">Jenis Surat</th>
                                <th class="text-center">Durasi Pengerjaan</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="pekerjaan in detailReportPegawaiKegiatan.list" class="text-center">
                                <td>{{$index + 1}}</td>
                                <td class="text-left">{{pekerjaan.kdSurat}}</td>
                                <td>{{pekerjaan.jenisSurat}}</td>
                                <td>{{pekerjaan.durasiPengerjaan}} Menit</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="detailReportPegawaiKegiatan.cancel()" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
    </div>
</form>