<ekinerja-navbar></ekinerja-navbar>
<section style="width: 90%;padding-left: 10%;padding-top: 100px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Pembuatan Surat Kuasa</h2>
                    </div>
                    <div class="body">
                        <form ng-submit="suratkuasa.save()" class="form-horizontal">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Nomor</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" ng-model="suratkuasa.item.nomorUrusan" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" ng-model="suratkuasa.item.nomorUrut" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" ng-model="suratkuasa.item.nomorPasanganUrut" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" ng-model="suratkuasa.item.nomorUnit" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" ng-model="suratkuasa.item.tahun" disabled required>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom:5px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Pemberi kuasa</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <button class="btn btn-primary waves-effect" ng-click="suratkuasa.openDari(1)" type="button" style="margin-left: 5px">Pilih Pegawai</button>
                                            <div ng-show="suratkuasa.item.pegawaiPemberi" class="col-md-12" style="margin-top:5px">
                                                <table>
                                                    <tr>
                                                        <td>Nama</td>
                                                        <td style="padding: 3px">:</td>
                                                        <td>{{suratkuasa.item.pegawaiPemberi.nama}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Jabatan</td>
                                                        <td style="padding: 3px">:</td>
                                                        <td>{{suratkuasa.item.pegawaiPemberi.jabatan}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom:5px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Penerima kuasa kepada</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <button class="btn btn-primary waves-effect" ng-click="suratkuasa.openDari(0)" type="button" style="margin-left: 5px">Pilih Pegawai</button>
                                            <div ng-show="suratkuasa.item.pegawaiPenerima" class="col-md-12" style="margin-top:5px">
                                                <table>
                                                    <tr>
                                                        <td>Nama</td>
                                                        <td style="padding: 3px">:</td>
                                                        <td>{{suratkuasa.item.pegawaiPenerima.nama}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Jabatan</td>
                                                        <td style="padding: 3px">:</td>
                                                        <td>{{suratkuasa.item.pegawaiPenerima.jabatan}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Isi kuasa</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="suratkuasa.item.isikuasa" required style="height: 100px"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Tanggal penandatanganan</b></p>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" type="date" ng-model="suratkuasa.item.tanggal1" required>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Kota dikeluarkan surat kuasa </b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="suratkuasa.item.tempat" required></input>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Waktu Pembuatan</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4" style="margin-left: -15px;">
                                                <input class="form-control" ng-model="suratkuasa.item.durasiPengerjaan" type="number" name="quantity" min="1" required></input>
                                            </div>
                                            <div class="col-md-4" style="padding-top: 8px;">
                                                <span><b>Menit</b></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b></b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8" style="text-align: right">
                                            <div class="col-md-4"></div>
                                            <button class="btn btn-primary waves-effect" type="submit" style="font-size: 20px">Simpan</button>
                                            <button class="btn btn-success waves-effect" type="button" ng-click="openPdf()" style="font-size: 20px">Lihat</button>
                                            <button class="btn btn-danger waves-effect" type="button" ng-click="suratkuasa.back()" style="font-size: 20px">Kembali</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg_load animate-show-hide" ng-show="suratkuasa.loading"></div>
<div class="wrapper animate-show-hide" ng-show="suratkuasa.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>