<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Tambah Uraian Tugas kepada <b>{{form_urtug_jabatan.jabatan}}</b></strong></h3>
</div>
<form ng-submit="form_urtug_jabatan.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row space-after">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Aktivitas</b></p>
                </div>
                <div class="col-md-7">
                    <input class="form-control" list="aktivitas" name="aktivitas" ng-model="form_urtug_jabatan.item.kdUrtug" ng-change="form_urtug_jabatan.getUrtug()" autocomplete="off">
                    <datalist id="aktivitas" style="height: 100px">
                        <option ng-repeat="aktivitas in form_urtug_jabatan.available_urtug"
                                value="{{aktivitas.kdUrtug}}" ng-selected="selected">{{aktivitas.deskripsi}}</option>
                    </datalist>
                </div>
            </div>

            <div class="row space-after" ng-show="form_urtug_jabatan.urtug">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Deskripsi</b></p>
                </div>
                <div class="col-md-7">
                    <textarea class="form-control" style="height: 100px" ng-model="form_urtug_jabatan.urtug.deskripsi"  readonly></textarea>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="submit"  class="btn btn-primary">Save</button>
        <button type="button" ng-click="form_urtug_jabatan.cancel()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
</form>