<ekinerja-navbar></ekinerja-navbar>
<section style="padding-top: 90px;">
    <div class="container-fluid">
        <div class="card">
            <div class="page">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" style="margin: 0px">
                            <table>
                                <tr>
                                    <td><i class="material-icons inline-icon">assignment</i></td>
                                    <td class="header-size2" style="vertical-align: middle">&nbsp<strong>Disposisi {{urtug_jabatan.unit}}</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="hr-space">

                <div class="row">
                    <div class="col-md-2">
                        <button type="button" ng-click="ambilperpindahan.createDisposisi()" ng-disabled="perpindahan.loadDisposisi" class="btn btn-primary waves-effect">
                            <i class="material-icons">add</i><strong> BUAT DISPOSISI</strong>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#disposisii" data-toggle="tab"><b>Surat Disposisi Masuk</b></a>
                            </li>
                            <li role="presentation">
                                <a href="#instruksi" data-toggle="tab"><b>Disposisi Yang Pernah Dibuat</b></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="disposisii">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="bg-table">
                                                    <tr>
                                                        <th class="text-center">No</th>
                                                        <th class="text-center">Kode Lembar Disposisi</th>
                                                        <th class="text-center">Tingkat Keamanan</th>
                                                        <th class="text-center">Tanggal Dibuat</th>
                                                        <th class="text-center">Status</th>
                                                        <th class="text-center" colspan="3">Action</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="ambil in filteredDataDisposisi">
                                                        <td class="text-center" style="vertical-align: middle">{{$index + 1 + (numPerPageDisposisi*currentPageDisposisi)}}</td>
                                                        <td style="vertical-align: middle">{{ambil.kdLembarDisposisi}}</td>
                                                        <td style="vertical-align: middle">{{ambil.tktKeamanan == 1 ? 'SR (Sangat Rahasia)' : ''}}
                                                            {{ambil.tktKeamanan == 2 ? 'R (Rahasia)' : ''}}
                                                            {{ambil.tktKeamanan == 3 ? 'B (Biasa)' : ''}}
                                                        </td>
                                                        <td style="vertical-align: middle">{{ambil.tglPengiriman}}</td>
                                                        <td style="vertical-align: middle">{{ambil.statusBaca == 0 ? 'Belum Dibaca' : 'Sudah Dibaca'}}</td>
                                                        <td class="text-center" style="vertical-align: middle">
                                                            <button type="button" class="btn bg-blue waves-effect" ng-click="ambilperpindahan.forward(ambil.kdLembarDisposisi)" ng-disabled="!ambil.statusBaca"><i class="material-icons">fast_forward</i> LANJUT</span></button>
                                                        </td>
                                                        <td class="text-center" style="vertical-align: middle">
                                                            <button type="button" class="btn bg-purple waves-effect" ng-click="openPdf(ambil.kdLembarDisposisi)"><i class="material-icons">picture_as_pdf</i><span> PDF FILE</span></button>
                                                        </td>
                                                        <td class="text-center" style="vertical-align: middle">
                                                            <button type="button" class="btn bg-green waves-effect" ng-click="ambilperpindahan.openTemplate(null,0, ambil)"><i class="material-icons">create</i> KERJAKAN</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="align-center">
                                                    <ul style="padding-left: 0px;">
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary waves-effect" ng-click="padDisposisi(-1)" ng-disabled="currentPageDisposisi==0" aria-label="Use Android" style="cursor: pointer;">
                                                                &lt; PREV
                                                            </button>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageDisposisi+1}} Of {{maxSizeDisposisi}}</span>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary waves-effect" ng-click="padDisposisi(1)" ng-disabled="maxDisposisi()" aria-label="Use Android" style="cursor: pointer;">
                                                                NEXT &gt;
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="instruksi">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="bg-table">
                                                <tr>
                                                    <th class="text-center">No</th>
                                                    <th class="text-center">Kode Lembar Disposisi</th>
                                                    <th class="text-center">Tingkat Keamanan</th>
                                                    <th class="text-center">Tanggal Dibuat</th>
                                                    <th class="text-center">Status</th>
                                                    <th class="text-center" colspan="2">Action</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="history in filteredData">
                                                    <td class="text-center" style="vertical-align: middle">{{$index + 1 + (numPerPage*currentPage)}}</td>
                                                    <td style="vertical-align: middle">{{history.kdLembarDisposisi}}</td>
                                                    <td style="vertical-align: middle">
                                                        {{history.tktKeamanan == 1 ? 'SR (Sangat Rahasia)' : ''}}
                                                        {{history.tktKeamanan == 2 ? 'R (Rahasia)' : ''}}
                                                        {{history.tktKeamanan == 3 ? 'B (Biasa)' : ''}}
                                                    </td>
                                                    <td style="vertical-align: middle">{{history.tglPengiriman}}</td>
                                                    <td style="vertical-align: middle">{{history.statusBaca == 0 ? 'Belum Dibaca' : 'Sudah Dibaca'}}</td>
                                                    <td class="text-center" style="vertical-align: middle">
                                                        <button type="button" class="btn bg-green waves-effect" ng-click="ambilperpindahan.tree(history.kdLembarDisposisi)"><i class="material-icons">visibility</i> TREE</span></button>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle">
                                                        <button type="button" class="btn bg-purple waves-effect" ng-click="openPdf(history.kdLembarDisposisi)"><i class="material-icons">picture_as_pdf</i><span> PDF FILE</span></button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="align-center">
                                                    <ul style="padding-left: 0px;">
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary waves-effect" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
                                                                &lt; PREV
                                                            </button>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPage+1}} Of {{maxSize}}</span>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary waves-effect" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
                                                                NEXT &gt;
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg_load animate-show-hide" ng-show="ambilperpindahan.loading"></div>
<div class="wrapper animate-show-hide" ng-show="ambilperpindahan.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>