<div class="modal-header" style="background-color:#F44236; color:#ffff;">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;">DAFTAR PEGAWAI</h3>
</div>
<form ng-submit="datapegawai.save()" class="form-horizontal">
<div class="modal-body" id="modal-body">
    <div class="form-body">
        <div class="body">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-md-12" style="margin-bottom:10px"> 
                                <div class="body table-responsive" style="padding-top: 0px;padding-bottom: 0px;">
                                    <button class="btn btn-primary waves-effect" ng-click="datapegawai.openPilihan()" type="button" style="margin-left: 5px" ng-hide="datapegawai.isPilihan == 1">{{datapegawai.pegawaiPilihan.length}} Pegawai Telah Dipilih</button>
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" style="text-align: center;table-layout: fixed;">
                                        <thead>
                                            <tr style="background:#D32F2F; color:#ffff">
                                                <th style="width: 6%; text-align: center">
                                                    {{datapegawai.isPilihan == 1 || datapegawai.isPilihan == 2 ? 'No' : ''}}
                                                </th>
                                                <th style="width: 20%;">
                                                    NIP Pegawai
                                                </th>
                                                <th style="width: 30%; text-align: center">
                                                    <input type="text" class="form-control" ng-model="searchName" ng-required="true" placeholder="Nama Pegawai">
                                                </th>
                                                <th style="text-align: center;text-align: center">
                                                    Jabatan
                                                </th>
                                                <th style="text-align: center;text-align: center">
                                                    Unit Kerja
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in filteredData" ng-show="datapegawai.isPilihan != 2">
                                                <td><input type="checkbox" ng-model="data.checked" ng-change="datapegawai.check(data)" ng-hide="datapegawai.isPilihan == 1 || datapegawai.isPilihan == 2">
                                                <p ng-show="datapegawai.isPilihan == 1 || datapegawai.isPilihan == 2">{{$index + 1 + (numPerPage*currentPage)}}</p></td>
                                                <td>{{data.nipPegawai}}</td>
                                                <td>{{data.nama}}</td>
                                                <td>{{data.jabatan}}</td>
                                                <td>{{data.unitKerja}}</td>
                                            </tr>
                                            <tr ng-repeat="data in filteredData" ng-hide="datapegawai.isPilihan != 2" ng-click="datapegawai.pilihPegawai(data)">
                                                <td><input type="checkbox" ng-model="data.checked" ng-change="datapegawai.check(data)" ng-hide="datapegawai.isPilihan == 1 || datapegawai.isPilihan == 2">
                                                <p ng-show="datapegawai.isPilihan == 1 || datapegawai.isPilihan == 2">{{$index + 1 + (numPerPage*currentPage)}}</p></td>
                                                <td>{{data.nipPegawai}}</td>
                                                <td>{{data.nama}}</td>
                                                <td>{{data.jabatan}}</td>
                                                <td>{{data.unitKerja}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="padding-top: 3px;" class="pull-right">
                                        <ul>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
                                                  &lt; PREV                          
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPage+1}} Of {{maxSize}}</span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
                                                  NEXT &gt;                          
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>                              
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
    </div>
</div>
    <div class="modal-footer" style="padding-top: 0px">
        <button type="button" ng-click="datapegawai.cancel()" class="btn btn-success waves-effect" data-dismiss="modal">Selesai</button>

    </div> 
        </form>