<ekinerja-navbar></ekinerja-navbar>
<section style="width: 90%;padding-left: 10%;padding-top: 100px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><b>Pembuatan Laporan</b></h2>
                    </div>
                    <div class="body">
                        <form ng-submit="laporan.save()" class="form-horizontal">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Tentang</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="laporan.item.tentang" required style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-sm-2">
                                            <p><b>A. pendahuluan</b></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Umum</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="laporan.item.isiumum" required style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Maksud dan Tujuan</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="laporan.item.isimaksuddantujuan" required style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Ruang Lingkup</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="laporan.item.isiruanglingkup" required style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Dasar</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="laporan.item.isidasar" required style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px; margin-top: 25px">
                                        <div class="col-sm-3" style="margin-top:5px">
                                            <p><b>B. Kegiatan yang Dilaksanakan</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="laporan.item.isikegiatan" required style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-sm-3" style="margin-top:5px">
                                            <p><b>C. Hasil yang Dicapai</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="laporan.item.isihasil" required style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-sm-3" style="margin-top:5px">
                                            <p><b>D. Simpulan dan Saran</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="laporan.item.isisimpulandansaran" required style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-sm-3" style="margin-top:5px">
                                            <p><b>E. Penutup</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="laporan.item.isipenutup" required style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Kota Dikeluarkan Laporan </b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="laporan.item.tempat" required></input>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom:5px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Pegawai Penandatangan</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8">
                                            <button class="btn btn-primary waves-effect" ng-click="laporan.openDari()" type="button" style="margin-left: 5px">Pilih Pegawai</button>
                                            <div ng-show="laporan.item.pegawaiPenandatangan" class="col-md-12" style="margin-top:5px; margin-bottom:-20px">
                                                <table>
                                                    <tr>
                                                        <td>Nama</td>
                                                        <td style="padding: 3px">:</td>
                                                        <td>{{laporan.item.pegawaiPenandatangan.nama}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Jabatan</td>
                                                        <td style="padding: 3px">:</td>
                                                        <td>{{laporan.item.pegawaiPenandatangan.jabatan}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Tanggal dikeluarkan laporan</b></p>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" type="date" ng-model="laporan.item.tanggal" required>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Waktu Pembuatan</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4" style="margin-left: -15px;">
                                                <input class="form-control" ng-model="laporan.item.durasiPengerjaan" type="number" name="quantity" min="1" required></input>
                                            </div>
                                            <div class="col-md-4" style="padding-top: 8px;">
                                                <span><b>Menit</b></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom:10px">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b></b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-8" style="text-align: right">
                                            <div class="col-md-4"></div>
                                            <button class="btn btn-primary waves-effect" type="submit" style="font-size: 20px">Simpan</button>
                                            <button class="btn btn-success waves-effect" type="button" ng-click="openPdf()" style="font-size: 20px">Lihat</button>
                                            <button class="btn btn-danger waves-effect" type="button" ng-click="laporan.back()" style="font-size: 20px">Kembali</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg_load animate-show-hide" ng-show="laporan.loading"></div>
<div class="wrapper animate-show-hide" ng-show="laporan.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>