<div class="wrapper">
<ekinerja-navbar></ekinerja-navbar>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-2">
                <button type="button" ng-click="penugasan.openTemplate()" class="btn btn-primary waves-effect">
                    <i class="fa fa-plus"></i><strong> BUAT NASKAH PENUGASAN</strong>
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li role="presentation" class="active">
                            <a href="#masuk" data-toggle="tab">Naskah Penugasan Masuk</a>
                        </li>
                        <li role="presentation">
                            <a href="#dibuat" data-toggle="tab">Naskah Penugasan Yang Pernah Dibuat</a>
                        </li>
                        <li class="pull-left header" style="font-size: 22px"><i class="fa fa-file-text-o"></i> PENUGASAN</li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="masuk">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                            <tr>
                                                <th class="text-center" style="width: 5%">No</th>
                                                <th class="text-center">Jenis Naskah</th>
                                                <th class="text-center">Nama Pemberi</th>
                                                <th class="text-center">Tanggal Dibuat</th>
                                                <th class="text-center">Status Baca</th>
                                                <th class="text-center" style="width: 35%" colspan="{{penugasan.eselon=='xs' ? 3 : 3}}">Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="naskah in filteredDataPenugasan" ng-hide="filteredDataPenugasan==0">
                                                <td class="text-center" style="vertical-align: middle">{{$index + 1 + (numPerPagePenugasan*currentPagePenugasan)}}</td>
                                                <td style="vertical-align: middle">{{naskah.nama}}</td>
                                                <td style="vertical-align: middle">{{naskah.namaPemberi}}</td>
                                                <td style="vertical-align: middle">{{naskah.tanggalDibuat}}</td>
                                                <td style="vertical-align: middle">{{naskah.ketBaca}}</td>
                                                <td class="text-center" style="vertical-align: middle">
                                                    <button type="button" ng-show="naskah.jenis == 0" ng-click="penugasan.teruskan(naskah.kdSurat, naskah.suratPejabat)" class="{{naskah.statusBaca != 1 ? 'btn bg-gray-active waves-effect' : 'btn bg-blue waves-effect'}}" ng-disabled="naskah.statusBaca != 1"><i class="fa fa-forward"></i> TERUSKAN</button>
                                                    <p ng-show="naskah.jenis != 0"><strong>-</strong></p>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle">
                                                    <button type="button" ng-click="penugasan.getDocument(naskah, 0)" class="btn bg-purple waves-effect" ng-hide="naskah.loading"><i class="fa fa-file-pdf-o"></i> PDF FILE</button>
                                                    <button type="button" ng-click="penugasan.getDocument(naskah, $index, 0)" class="btn btn-secondary" ng-show="naskah.loading" disabled>MOHON TUNGGU...</button>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle">
                                                    <button type="button" class="{{naskah.statusBaca != 1 ? 'btn bg-gray-active waves-effect' : 'btn bg-green waves-effect'}}" ng-click="penugasan.openTemplate(null,naskah,0)" ng-disabled="naskah.statusBaca != 1"><i class="fa fa-pencil"></i> KERJAKAN</button>
                                                </td>
                                            </tr>
                                            <tr ng-show="filteredDataPenugasan==0">
                                                <td colspan="6" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="align-center">
                                                <ul style="padding-left: 0px;">
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary waves-effect" ng-click="padPenugasan(-1)" ng-disabled="currentPagePenugasan==0" aria-label="Use Android" style="cursor: pointer;">
                                                            &lt; PREV
                                                        </button>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPagePenugasan+1}} Of {{maxSizePenugasan}}</span>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary waves-effect" ng-click="padPenugasan(1)" ng-disabled="maxPenugasan()" aria-label="Use Android" style="cursor: pointer;">
                                                            NEXT &gt;
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="dibuat">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                            <tr>
                                                <th class="text-center" style="width: 5%">No</th>
                                                <th class="text-center">Jenis Naskah</th>
                                                <th class="text-center">Tanggal Dibuat</th>
                                                <th class="text-center">Status Baca</th>
                                                <th class="text-center" style="width: 35%" colspan="{{penugasan.eselon=='xs' ? 2 : 2}}">Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="history in filteredData" ng-hide="filteredData==0">
                                                <td class="text-center" style="vertical-align: middle">{{$index + 1 + (numPerPage*currentPage)}}</td>
                                                <td style="vertical-align: middle">{{history.nama}}</td>
                                                    <td style="vertical-align: middle">{{history.tanggalDibuat}}</td>
                                                    <td style="vertical-align: middle">{{history.ketBaca}}</td>
                                                <td class="text-center" style="vertical-align: middle">
                                                    <button type="button" ng-show="history.jenis == 0" ng-click="penugasan.tree(history.kdSurat)" class="btn bg-orange waves-effect"><i class="fa fa-eye"></i> PANTAU</button>
                                                    <p ng-show="history.jenis != 0"><strong>-</strong></p>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle">
                                                    <button type="button" ng-click="penugasan.getDocument(history, 1)" class="btn bg-purple waves-effect" ng-hide="history.loading"><i class="fa fa-file-pdf-o"></i> PDF FILE</button>
                                                    <button type="button" ng-click="penugasan.getDocument(history, $index, 1)" class="btn btn-secondary" ng-show="history.loading" disabled>MOHON TUNGGU...</button>
                                                </td>
                                            </tr>
                                            <tr ng-show="filteredData==0">
                                                <td colspan="5" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="align-center">
                                                <ul style="padding-left: 0px;">
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary waves-effect" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
                                                            &lt; PREV
                                                        </button>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPage+1}} Of {{maxSize}}</span>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary waves-effect" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
                                                            NEXT &gt;
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="control-sidebar-bg"></div>
</div>