<ekinerja-navbar></ekinerja-navbar>
<section style="padding-top: 90px; font-size: 17px">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="row clearfix">
                        <div class="header">
                            <i class="material-icons" style="float: left;">assignment</i>
                            <h2 style="padding-left: 30px;padding-top: 3px;"><b> HALAMAN PENUGASAN</b></h2>
                        </div>
                        <div class="body" style="">
                            <div class="col-md-12" style="margin-bottom: 0px">
                                <div class="col-md-2" style="margin-left: -10px;float: left; margin-bottom: 10px">
                                    <button type="button" ng-click="penugasan.openTemplate()" class="btn btn-primary waves-effect"><i class="material-icons">add</i><span>Buat Naskah Penugasan</span>
                                    </button>
                                </div>
                            </div>
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#masuk" data-toggle="tab"><b>Naskah Penugasan Masuk</b></a>
                                </li>
                                <li role="presentation">
                                    <a href="#dibuat" data-toggle="tab"><b>Naskah Penugasan Yang Pernah Dibuat</b></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="masuk">
                                    <div class="body table-responsive" style="margin-bottom: -10px;">
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0">
                                            <thead>
                                                <tr style="background:#D32F2F; color:#ffff">
                                                    <th style="width: 2%; text-align: center">No</th>
                                                    <th style="width: 10%; text-align: center">Jenis Naskah</th>
                                                    <!-- <th style="text-align: center;" >Judul Naskah</th> -->
                                                    <th style="width: 15%; text-align: center">Tanggal Dibuat</th>
                                                    <th style="text-align: center; width: 15%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="naskah in filteredDataPenugasan" style="text-align: center">
                                                    <td>{{$index + 1 + (numPerPagePenugasan*currentPagePenugasan)}}</td>
                                                    <td>{{naskah.nama}}</td>
                                                    <!-- <td style="text-align: left;border: 1px solid black">{{naskah.judulNaskah}}</td> -->
                                                    <td>{{naskah.tanggalDibuat}}</td>
                                                    <td>
                                                        <button type="button" ng-show="naskah.jenis == 0" ng-click="penugasan.teruskan(naskah.kdSurat, naskah.suratPejabat)" class="btn btn-success waves-effect">Teruskan</button>
                                                        <button type="button" ng-click="penugasan.getDocument(naskah, $index, 0)" class="btn btn-primary waves-effect" ng-hide="naskah.loading">Lihat Dokumen</button>
                                                        <button type="button" ng-click="penugasan.getDocument(naskah, $index, 0)" class="btn btn-secondary waves-effect" ng-show="naskah.loading" disabled>Mohon Tunggu</button>
                                                        <button type="button" class="btn bg-green waves-effect" ng-click="penugasan.openTemplate(null,naskah,0)">KERJAKAN</button>
                                                    </td> 
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="padding-top: 3px;" class="pull-right">
                                        <ul>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padPenugasan(-1)" ng-disabled="currentPagePenugasan==0" aria-label="Use Android" style="cursor: pointer;">
                                                  &lt; PREV                          
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPagePenugasan+1}} Of {{maxSizePenugasan}}</span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padPenugasan(1)" ng-disabled="maxPenugasan()" aria-label="Use Android" style="cursor: pointer;">
                                                  NEXT &gt;                          
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="dibuat">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" >
                                        <thead>
                                            <tr style="background:#D32F2F; color:#ffff">
                                                <th style="width: 2%; text-align: center">No</th>
                                                <th style="width: 10%; text-align: center">Jenis Naskah</th>
                                                <!-- <th style="text-align: center;" >Judul Naskah</th> -->
                                                <th style="width: 15%; text-align: center">Tanggal Dibuat</th>
                                                <th style="text-align: center; width: 15%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="history in filteredData" style="text-align: center">
                                                <td>{{$index + 1 + (numPerPage*currentPage)}}</td>
                                                <td>{{history.nama}}</td>
                                                <!-- <td style="text-align: left;border: 1px solid black">{{naskah.judulNaskah}}</td> -->
                                                <td>{{history.tanggalDibuat}}</td>
                                                <td>
                                                    <button type="button" ng-show="history.jenis == 0" ng-click="penugasan.tree(history.kdSurat)" class="btn btn-success waves-effect">Tree</button>
                                                    <button type="button" ng-click="penugasan.getDocument(history, $index, 1)" class="btn btn-primary waves-effect" ng-hide="history.loading">Lihat Dokumen</button>
                                                    <button type="button" ng-click="penugasan.getDocument(history, $index, 1)" class="btn btn-secondary waves-effect" ng-show="history.loading" disabled>Mohon Tunggu</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="padding-top: 3px;" class="pull-right">
                                        <ul>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
                                                  &lt; PREV                          
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPage+1}} Of {{maxSize}}</span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
                                                  NEXT &gt;                          
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg_load animate-show-hide" ng-show="penugasan.loading"></div>
<div class="wrapper animate-show-hide" ng-show="penugasan.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>