<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>TAMBAH DATA URAIAN TUGAS</strong></h3>
</div>
<form ng-submit="form_urtug.ok()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">

            <div class="row space-after">
                <div class="col-md-12">
                    <label>Deskripsi Uraian Tugas</label>
                    <textarea type="text" class="form-control" ng-model="data_urtug.deskripsi" ng-required="true" rows="5" cols="20" ></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table points_table">
                            <thead class="bg-table">
                            <tr>
                                <th class="col-xs-1">No</th>
                                <th class="col-xs-11">Rincian Tugas/Kegiatan</th>
                            </tr>
                            </thead>

                            <tbody class="points_table_scrollbar">
                            <tr ng-repeat="data in filteredData" ng-click="akses.open(data)" style="padding-bottom: 3px">
                                <td class="col-xs-1 text-center">{{$index + 1 + (numPerPage*currentPage)}}</td>
                                <td class="col-xs-11">{{data.deskripsi}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit"  class="btn btn-success">Simpan</button>
        <button type="reset" class="btn btn-primary" >Reset</button>
        <button type="button" ng-click="form_urtug.cancel()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
</form>