<div class="wrapper">
<ekinerja-navbar></ekinerja-navbar>
<div class="content-wrapper">
    <section class="content">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li class="pull-left header"><i class="fa fa-list-alt"></i> Pembuatan Surat Edaran ({{suratedaran.jenis}})</li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="row col-md-12">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Nomor Surat</div>
                                <div class="col-md-2">
                                    <input class="form-control" type="text" ng-model="suratedaran.item.nomorSurat" placeholder="nomor surat" required>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control" ng-model="suratedaran.item.tahun" disabled required>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="row col-md-12">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Tentang</div>
                                <div class="col-md-4">
                                    <input class="form-control" ng-model="suratedaran.item.ttgSuratEdaran" required>
                                </div>
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Ditetapkan Di Kota</div>
                                <div class="col-md-2">
                                    <input class="form-control" ng-model="suratedaran.item.tempat" required>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="row col-md-12">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Tanggal Penetapan</div>
                                <div class="col-md-4">
                                    <input class="form-control" type="date" ng-model="suratedaran.item.tanggal" required>
                                </div>
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Waktu Pembuatan</div>
                                <div class="col-md-1">
                                    <input class="form-control" ng-model="suratedaran.item.durasiPengerjaan" type="text" pattern="[0-9]{1,4}" title="masukkan angka" required></input>
                                </div>
                                <div class="col-md-1" style="margin-top:5px;font-weight: bold;">Menit</div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="row col-md-12">
                                <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Tentang Pedoman</div>
                                <div class="col-md-4">
                                    <input class="form-control" ng-model="pedoman.item.ttgPedoman" required>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4" style="margin-top:5px;font-weight: bold;margin-left: -15px;">Nama Penandatangan</div>
                                    <div class="col-md-6" style="margin-left: 10px;"> 
                                        <button class="btn btn-primary waves-effect" ng-click="suratedaran.openDari()" type="button">Pilih Pegawai</button> 
                                        <div class="col-md-12" style="margin-left: -15px;margin-top: 5px;">
                                            <div ng-show="suratedaran.item.pegawaiPenandatangan">
                                                <table> 
                                                    <tr> 
                                                        <td>Nama</td> 
                                                        <td style="padding: 3px">:</td> 
                                                        <td>{{suratedaran.item.pegawaiPenandatangan.nama}}</td> 
                                                    </tr> 
                                                    <tr> 
                                                        <td>Jabatan</td> 
                                                        <td style="padding: 3px">:</td> 
                                                        <td>{{suratedaran.item.pegawaiPenandatangan.jabatan}}</td> 
                                                    </tr> 
                                                </table> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="row col-md-12" ng-repeat="subab in suratedaran.subab">
                                <div style="margin-top: 15px;">
                                    <div class="col-md-2" style="margin-top:5px;font-weight: bold;">Judul Subab {{subab.nomor}}</div>
                                    <div class="col-md-3">
                                        <input class="form-control" ng-model="subab.judul" required>
                                    </div>
                                    <div class="col-md-1" style="margin-top:5px;font-weight: bold;padding-left: 10px;">Isi Subab {{subab.nomor}}</div>
                                    <div class="col-md-4">
                                        <textarea class="form-control" ng-model="subab.isi" required style="height: 100px"></textarea>
                                    </div>
                                    <button class="btn btn-primary waves-effect" type="button" ng-click="suratedaran.addSubab()" style="margin-left: 15px" ng-show="$last">+ Tambahkan</button>
                                    <button class="btn btn-primary waves-effect" type="button" ng-click="suratedaran.removeSubab($index)" style="margin-left: 15px" ng-hide="$last">- Hapus Subbab</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="row col-md-12">
                                <div style="text-align: right;">
                                    <button class="btn btn-primary waves-effect" type="submit" style="font-size: 20px">Simpan</button>
                                    <button class="btn btn-success waves-effect" type="button" ng-click="openPdf()" style="font-size: 20px">Lihat</button>
                                    <button class="btn btn-danger waves-effect" type="button" ng-click="suratedaran.back()" style="font-size: 20px">Kembali</button>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="control-sidebar-bg"></div>
</div>
