<ekinerja-navbar></ekinerja-navbar>
<section style="width: 90%;padding-left: 10%;padding-top: 100px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Pembuatan Surat Edaran ({{suratedaran.jenis}})</h2>
                    </div>
                    <div class="body">
                        <form ng-submit="suratedaran.save()" class="form-horizontal">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Nomor Surat</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-2">
                                        <input class="form-control" type="number" ng-model="suratedaran.item.nomorSurat" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Tentang</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input class="form-control" ng-model="suratedaran.item.ttgSuratEdaran" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Ditetapkan Di Kota</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input class="form-control" ng-model="suratedaran.item.tempat" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Tanggal Penetapan</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-3">
                                        <input class="form-control" type="date" ng-model="suratedaran.item.tanggal" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Nama Penandatangan</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <form method="get">
                                            <input class="form-control" list="pegawai" name="pegawai" ng-model="pegawai" placeholder="Pilih Pegawai" >
                                            <datalist id="pegawai">
                                                    <option ng-repeat="pgw in suratedaran.list_pegawai"
                                             value="{{pgw.nipPegawai}}" ng-selected="selected" >{{pgw.nama}}</option>
                                            </datalist>
                                        </form>
                                        <div ng-show="suratedaran.item.pegawaiPembuat">Nama: {{suratedaran.item.pegawaiPembuat.nama}}</div>
                                        <div ng-show="suratedaran.item.pegawaiPembuat">Jabatan: {{suratedaran.item.pegawaiPembuat.jabatan}}</div>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-repeat="subab in suratedaran.subab">
                                    <div class="col-md-12" style="margin-bottom:10px"> 
                                        <div class="col-md-1"></div> 
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Judul Subab {{subab.nomor}}</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-3">
                                            <input class="form-control" ng-model="subab.judul" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom:10px"> 
                                        <div class="col-md-1"></div> 
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Isi Subab {{subab.nomor}}</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-6">
                                            <textarea class="form-control" ng-model="subab.isi" required style="height: 100px"></textarea>
                                        </div>
                                        <button class="btn btn-primary waves-effect" type="button" ng-click="suratedaran.addSubab()" style="margin-left: 15px" ng-show="$last">+ Tambahkan</button>
                                        <button class="btn btn-primary waves-effect" type="button" ng-click="suratedaran.removeSubab()" style="margin-left: 15px" ng-show="$last">- Tambahkan</button>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b></b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6" style="margin-left: 25px">
                                        <div class="col-md-6"></div>
                                        <button class="btn btn-primary waves-effect" type="submit" style="font-size: 20px">Simpan</button>
                                        <button class="btn btn-danger waves-effect" type="button" ng-click="openPdf()" style="font-size: 20px">Kembali</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="bg_load animate-show-hide" ng-show="suratedaran.loading"></div>
<div class="wrapper animate-show-hide" ng-show="suratedaran.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>