<div class="modal-header" style="background-color:#F44236; color:#ffff">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Beri Status Urtug/Aktivitas</strong></h3>
</div>
<form ng-submit="status.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row space-after">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Aktivitas</b></p>
                </div>
                <div class="col-md-7">
                    <input class="form-control" list="aktivitas" name="aktivitas" ng-model="status.item.kdUrtug" autocomplete="off" ng-change="status.getUrtug()">
                    <datalist id="aktivitas" style="height: 100px">
                        <option ng-repeat="aktivitas in status.used_urtug"
                                value="{{aktivitas.kdUrtug}}" ng-selected="selected">{{aktivitas.urtug}}</option>
                    </datalist>
                </div>
            </div>

            <div class="row space-after" ng-show="status.item.kdUrtug">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Deskripsi</b></p>
                </div>
                <div class="col-md-7">
                    <textarea class="form-control" style="height: 100px" ng-model="status.urtug.urtug"  readonly></textarea>
                </div>
            </div>

            <div class="row space-after">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Jenis</b></p>
                </div>
                <div class="col-md-7">
                    <select type="text" class="form-control" ng-model="statusUrtug" ng-required="true">
                        <option ng-repeat="jenis in status.jenis_urtug" value="{{jenis.kdJenisUrtug}}">{{jenis.jenisUrtug}}</option>
                    </select>
                </div>
            </div>

            <div ng-hide="status.isDpa">
                <div class="row space-after">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p><b>Kuantitas</b></p>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" ng-model="status.target.kuantitas" type="number" min="1">
                    </div>
                </div>

                <div class="row space-after">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p><b>Satuan Kuantitas</b></p>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" ng-model="status.target.satuanKuantitas" type="text">
                    </div>
                </div>

                <div class="row space-after">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p><b>Kualitas</b></p>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" ng-model="status.target.kualitasDisplay" type="text" disabled>
                    </div>
                </div>

                <div class="row space-after">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p><b>Waktu</b></p>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" ng-model="status.target.waktuDisplay" type="text" disabled>
                    </div>
                </div>

                <div class="row space-after">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p><b>Biaya</b></p>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" ng-model="status.target.biayaDisplay" type="text" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit"  class="btn btn-primary">Simpan</button>
        <button type="button" ng-click="status.cancel()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
</form>