<div class="modal-header" style="background-color:#1fcfe0;">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;">Beri Status Urtug/Aktivitas</h3>
</div>
<form ng-submit="status.save()" class="form-horizontal">
<div class="modal-body" id="modal-body">
    <div class="form-body">
        <div class="body">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-md-12" style="margin-bottom:10px">
                                <div class="col-sm-3" style="margin-top:5px">
                                    <p><b>Aktivitas</b></p>
                                </div>
                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                <div class="col-md-8">
                                <input class="form-control" list="aktivitas" name="aktivitas" ng-model="status.item.kdUrtug">
                                <datalist id="aktivitas" style="height: 100px">
                                    <option ng-repeat="aktivitas in status.used_urtug"
                                 value="{{aktivitas.urtug}}" ng-selected="selected"> </option>
                                </datalist>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-bottom:10px">
                                
                                <div class="col-sm-3" style="margin-top:5px">
                                    <p><b>Jenis</b></p>
                                </div>
                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                <div class="col-md-3">
                                    <select type="text" class="form-control" ng-model="statusUrtug" ng-required="true">
                                            <option ng-repeat="jenis in status.jenis_urtug" value="{{jenis.kdJenisUrtug}}">{{jenis.jenisUrtug}}</option> 
                                        
                                    </select>
                                </div>
                            </div>
                            <div ng-hide="status.isDpa">
                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-sm-3" style="margin-top:5px">
                                        <p><b>Kuantitas</b></p>
                                    </div>
                                    <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                    <div class="col-md-3">
                                    <input class="form-control" ng-model="status.target.kuantitas" type="number">
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-sm-3" style="margin-top:5px">
                                        <p><b>Satuan Kuantitas</b></p>
                                    </div>
                                    <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                    <div class="col-md-3">
                                    <input class="form-control" ng-model="status.target.satuanKuantitas" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-sm-3" style="margin-top:5px">
                                        <p><b>Kualitas</b></p>
                                    </div>
                                    <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                    <div class="col-md-3">
                                    <input class="form-control" ng-model="status.target.kualitas" type="number" disabled>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-sm-3" style="margin-top:5px">
                                        <p><b>Waktu</b></p>
                                    </div>
                                    <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                    <div class="col-md-3">
                                    <input class="form-control" ng-model="status.target.waktuDisplay" type="text" disabled>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-sm-3" style="margin-top:5px">
                                        <p><b>Biaya</b></p>
                                    </div>
                                    <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                    <div class="col-md-3">
                                    <input class="form-control" ng-model="status.target.biayaDisplay" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>                              
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal-footer">
        <button type="submit"  class="btn btn-primary waves-effect">Save</button>
        <button type="button" ng-click="status.cancel()" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
    </div>
</form> 