<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Beri Status Uraian Tugas</strong></h3>
</div>
<form ng-submit="status.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row space-after">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Uraian Tugas</b></p>
                </div>
                <div class="col-md-7">
                    <!-- <input class="form-control" list="aktivitass" name="aktivitas" ng-model="status.item.kdUrtug" autocomplete="off" ng-change="status.getUrtug()">
                    <datalist id="aktivitass">
                        <option ng-repeat="aktivitas in status.used_urtug" value="{{aktivitas.kdUrtug}}" ng-selected="selected">{{aktivitas.urtug}}</option>
                    </datalist> -->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-table">
                            <tr>
                                <th style="text-align: center; vertical-align: middle">Uraian Tugas</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="aktivitas in filteredData" >
                                <td ng-click="status.getUrtug(aktivitas.kdUrtug)" style="vertical-align: middle">{{aktivitas.urtug}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="align-center">
                                <ul style="padding-left: 0px;">
                                    <li style="display: inline-block;">
                                        <button class="btn btn-primary" type="button" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
                                            &lt; Sebelumnya
                                        </button>
                                    </li>
                                    <li style="display: inline-block;">
                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Halaman {{currentPage+1}} Dari {{maxSize}}</span>
                                    </li>
                                    <li style="display: inline-block;">
                                        <button class="btn btn-primary" type="button" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
                                            Selanjutnya &gt;
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row space-after" ng-show="status.item.kdUrtug">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Deskripsi</b></p>
                </div>
                <div class="col-md-7">
                    <textarea class="form-control" style="height: 100px" ng-model="status.urtug.urtug"  readonly></textarea>
                </div>
            </div>

            <div class="row space-after">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Jenis</b></p>
                </div>
                <div class="col-md-7">
                    <select type="text" class="form-control" ng-model="statusUrtug" ng-required="true">
                        <option ng-repeat="jenis in status.jenis_urtug" value="{{jenis.kdJenisUrtug}}">{{jenis.jenisUrtug}}</option>
                    </select>
                </div>
            </div>

            <div ng-if="!status.isDpa">
                <div class="row space-after">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p><b>Kuantitas</b></p>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" ng-model="status.target.kuantitas" type="number" min="1" ng-required="true">
                    </div>
                </div>

                <div class="row space-after">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p><b>Satuan Kuantitas</b></p>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" ng-model="status.target.satuanKuantitas" type="text" ng-required="true">
                    </div>
                </div>

                <!-- <div class="row space-after">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p><b>Kualitas</b></p>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" ng-model="status.target.kualitasDisplay" type="text" disabled>
                    </div>
                </div>

                <div class="row space-after">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p><b>Waktu</b></p>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" ng-model="status.target.waktuDisplay" type="text" disabled>
                    </div>
                </div>

                <div class="row space-after">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p><b>Biaya</b></p>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" ng-model="status.target.biayaDisplay" type="text" disabled>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit"  class="btn btn-primary">Simpan</button>
        <button type="button" ng-click="status.cancel()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
</form>