<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><b>DAFTAR JABATAN</b></h3>
</div>
<form ng-submit="datajabatan.save()" class="form-horizontal">
<div class="modal-body" id="modal-body">
    <div class="form-body">
        <div class="body">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-md-12" style="margin-bottom:10px"> 
                                <div class="body table-responsive" style="padding-top: 0px;padding-bottom: 0px;">
                                    <button class="btn btn-primary waves-effect" ng-click="datajabatan.openPilihan()" type="button" style="margin-left: 5px" ng-hide="datajabatan.isPilihan == 1">{{datajabatan.jabatanPilihan.length}} Jabatan Telah Dipilih</button>
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" style="text-align: center;table-layout: fixed;">
                                        <thead class="bg-table">
                                            <tr>
                                                <th style="width: 6%; text-align: center;; vertical-align: middle">
                                                    {{datajabatan.isPilihan == 1 || datajabatan.isPilihan == 2 ? 'No' : ''}}
                                                </th>
                                                <th style="text-align: center">
                                                    <input type="text" class="form-control" ng-model="searchJabatan" placeholder="Nama Jabatan">
                                                </th>
                                                <th style="text-align: center; vertical-align: middle">
                                                    Unit Kerja
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in filteredData" ng-show="datajabatan.isPilihan != 2">
                                                <td><input type="checkbox" ng-model="data.checked" ng-change="datajabatan.check(data)" ng-hide="datajabatan.isPilihan == 1 || datajabatan.isPilihan == 2">
                                                <p ng-show="datajabatan.isPilihan == 1 || datajabatan.isPilihan == 2">{{$index + 1 + (numPerPage*currentPage)}}</p></td>
                                                <td>{{data.jabatan}}</td>
                                                <td>{{data.unitKerja}}</td>
                                            </tr>
                                            <tr ng-repeat="data in filteredData" ng-hide="datajabatan.isPilihan != 2" ng-click="datajabatan.pilihJabatan(data)">
                                                <td><input type="checkbox" ng-model="data.checked" ng-change="datajabatan.check(data)" ng-hide="datajabatan.isPilihan == 1 || datajabatan.isPilihan == 2">
                                                <p ng-show="datajabatan.isPilihan == 1 || datajabatan.isPilihan == 2">{{$index + 1 + (numPerPage*currentPage)}}</p></td>
                                                <td>{{data.jabatan}}</td>
                                                <td>{{data.unitKerja}}</td>
                                            </tr>
                                            <tr ng-show="filteredData==0">
                                                <td colspan="3" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="padding-top: 3px;" class="pull-right">
                                        <ul>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
                                                  &lt; PREV                          
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPage+1}} Of {{maxSize}}<span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
                                                  NEXT &gt;                          
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>                              
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
    </div>
</div>
    <div class="modal-footer">
        <!-- <button type="submit"  class="btn btn-primary waves-effect">Save</button> -->
        <button type="button" ng-click="datajabatan.cancel()" class="btn btn-success waves-effect" data-dismiss="modal">Selesai</button>

    </div> 
        </form>