<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Ubah Pegawai Organisasi Pengadaan Barang dan Jasa</strong></h3>
</div>
<form ng-submit="formpj.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row space-after">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <p><b>Pegawai Organisasi pengadaan</b></p>
                </div>
                <div class="col-md-7">
                    <input class="form-control" list="pegawai" name="kegiiatan" ng-model="formpj.pj.nipPegawai" placeholder="Pilih Pegawai">
                    <datalist id="pegawai" style="height: 100px">
                        <option ng-repeat="data in formpj.list_pegawai"
                                value="{{data.nipPegawai}}">{{data.nama}}</option>
                    </datalist>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Simpan</button>
        <button type="button" ng-click="formpj.cancel()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
</form>