<div class="wrapper">
<ekinerja-navbar></ekinerja-navbar>
<div class="content-wrapper">
    <section class="content">
        <div class="row" style="margin-top:50px">
            <div class="col-md-4">
                <div class="form-group">
                <label>Lihat Surat Berdasarkan</label>
                <select class="form-control" ng-model="penilaian.lihat" ng-change="penilaian.sorting()">
                    <option value="">Pilih</option>
                    <option value="0" selected>Semua</option>
                    <option value="1">Waktu</option>
                    <option value="2">Jenis Surat</option>
                    <option value="3">Belum Dibaca</option>
                    <option value="4">Sudah Dibaca</option>
                    <option value="5">Ditolak</option>
                    <option value="6">Diterima</option>
                </select>
                </div>
            </div>
        </div>
        <div class="row" ng-show="penilaian.lihat == 1">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Pilih Tanggal</label>
                    <input type="date" class="form-control" ng-model="penilaian.tanggal" ng-change="penilaian.sortDate()"></input>
                </div>
            </div>
        </div>
        <div class="row" ng-show="penilaian.lihat == 2">
            <div class="col-md-4">
                <div class="form-group">
                <label>Pilih Jenis Surat</label>
                <select class="form-control" ng-model="penilaian.jenis" ng-change="penilaian.sortJenis()">
                    <option value="">Pilih</option>
                    <option value="0" selected>Berita Acara</option>
                    <option value="1">Laporan</option>
                    <option value="2">Memorandum</option>
                    <option value="3">Nota Dinas</option>
                    <option value="4">Pengumuman</option>
                    <option value="5">Surat Dinas</option>
                    <option value="6">Surat Edaran</option>
                    <option value="7">Surat Keputusan</option>
                    <option value="8">Surat Keterangan</option>
                    <option value="9">Surat Kuasa</option>
                    <option value="10">Surat Pengantar</option>
                    <option value="11">Surat Perintah</option>
                    <option value="12">Surat Tugas</option>
                    <option value="13">Surat Undangan</option>
                    <option value="14">Telaahan Staff</option>
                    <option value="15">Template Lain</option>
                </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <!-- <li role="presentation">
                            <a href="#laporanajuan" data-toggle="tab">Draft</a>
                        </li>
                        <li role="presentation">
                            <a href="#suratmasuk" data-toggle="tab">Surat Masuk &nbsp<span class="badge bg-red" ng-hide="penilaian.jmlNotifSuratMasuk==0">{{penilaian.jmlNotifSuratMasuk}}</span></a>
                        </li> -->
                        <li role="presentation" class="active">
                            <a href="#laporanbawah" data-toggle="tab">Laporan Bawahan &nbsp<span class="badge bg-red" ng-hide="penilaian.jmlNotifLaporanBawahan==0">{{penilaian.jmlNotifLaporanBawahan}}</span></a>
                        </li>
                        <li class="pull-left header" style="font-size: 22px"><i class="fa fa-sliders"></i> TATA NASKAH</li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="laporanbawah">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                                <tr>
                                                    <th class="text-center" style="vertical-align: middle; width: 5%">No</th>
                                                    <th class="text-center" style="vertical-align: middle">Jenis Surat</th>
                                                    <th class="text-center" style="vertical-align: middle">Nama Pelapor</th>
                                                    <th class="text-center" style="vertical-align: middle">Waktu Penerimaan</th>
                                                    <th class="text-center" style="vertical-align: middle">Status</th>
                                                    <th class="text-center" style="vertical-align: middle; width: 35%" colspan="3">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="ambil in penilaian.sortLaporan" class="text-center" ng-hide="penilaian.sortLaporan==0">
                                                <td style="vertical-align: middle">{{$index + 1 }}</td>
                                                <td class="text-left" style="vertical-align: middle">{{ambil.jenisSurat}}</td>
                                                <td class="text-left" style="vertical-align: middle">{{ambil.namaBawahan}}</td>
                                                <td style="vertical-align: middle">{{ambil.tglPengiriman}}</td>
                                                <td style="vertical-align: middle">{{ambil.status}}</td>
                                                <td style="vertical-align: middle; width: 10%">
                                                    <button type="button" class="{{ambil.statusPenilaian !=1 ? 'btn bg-gray-active waves-effect' : 'btn bg-blue waves-effect'}}" ng-click="penilaian.teruskanLaporan(ambil)" ng-disabled="ambil.statusPenilaian !=1" ng-hide="penilaian.isKepalaSKPD"><i class="fa fa-forward"></i> TERUSKAN</span></button>
                                                    <button type="button" class="{{ambil.statusApproval ==1 || ambil.statusPenilaian != 1 ? 'btn bg-gray-active waves-effect' : 'btn bg-green waves-effect'}}" ng-click="penilaian.approveReport(ambil.kdSurat)" ng-disabled="ambil.statusApproval ==1 || ambil.statusPenilaian != 1" ng-show="penilaian.isKepalaSKPD"><i class="fa fa-paint-brush"></i><span> TANDATANGAN</span></button>
                                                </td>
                                                <td style="vertical-align: middle; width: 10%">
                                                    <button type="button" class="btn bg-purple waves-effect" ng-click="penilaian.getDocument(ambil, 1)" ng-hide="ambil.loading"><i class="fa fa-file-pdf-o"></i><span> PDF FILE</span></button>
                                                    <button type="button" class="btn btn-secondary" ng-show="ambil.loading" disabled>MOHON TUNGGU...</button>
                                                </td>
                                                <td style="vertical-align: middle; width: 10%">
                                                    <button type="button" class="{{ambil.statusPenilaian !=1 ? 'btn bg-gray-active waves-effect' : 'btn bg-red waves-effect'}}" ng-click="penilaian.tolak(ambil)" ng-disabled="ambil.statusPenilaian !=1"><i class="fa fa-times"></i> TOLAK</button>
                                                </td>
                                            </tr>
                                            <tr ng-show="penilaian.sortLaporan==0">
                                                <td colspan="6" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="align-center">
                                                <ul style="padding-left: 0px;">
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padSortLaporan(-1)" ng-disabled="currentPageSortLaporan==0" aria-label="Use Android" style="cursor: pointer;">
                                                            &lt; PREV
                                                        </button>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageSortLaporan+1}} Of {{maxSizeSortLaporan}}</span>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padSortLaporan(1)" ng-disabled="maxSortLaporan()" aria-label="Use Android" style="cursor: pointer;">
                                                            NEXT &gt;
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="suratmasuk">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 5%">No</th>
                                                <th class="text-center" style="vertical-align: middle">Jenis Surat</th>
                                                <th class="text-center" style="vertical-align: middle">Pemberi Surat</th>
                                                <th class="text-center" style="vertical-align: middle">Waktu Penerimaan</th>
                                                <th class="text-center" style="vertical-align: middle">Status</th>
                                                <th class="text-center" style="vertical-align: middle">Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="surat in penilaian.sortSuratMasuk" ng-hide="penilaian.sortSuratMasuk==0" class="text-center">
                                                <td>{{$index + 1 }}</td>
                                                <td class="text-left">{{surat.jenisSurat}}</td>
                                                <td class="text-left">{{surat.jabatanPemberi}}</td>
                                                <td>{{surat.tanggalDibuat}}</td>
                                                <td>{{surat.statusBaca == 0 ? 'Belum Dibaca' : 'Sudah Dibaca'}}</td>
                                                <td style="width: 10%">
                                                    <button type="button" class="btn bg-purple waves-effect" ng-click="penilaian.getDocument(surat, 1)" ng-hide="surat.loading"><i class="fa fa-file-pdf-o"></i><span> PDF FILE</span></button>
                                                    <button type="button" class="btn btn-secondary" ng-show="surat.loading" disabled>MOHON TUNGGU...</button>
                                                    <button type="button" class="btn bg-purple waves-effect" ng-show="penilaian.isAdmin()" ng-click="penilaian.disposisi(surat)" ><i class="fa fa-file-pdf-o"></i><span> Disposisikan</span></button>
                                                </td>
                                            </tr>
                                            <tr ng-show="penilaian.sortSuratMasuk==0">
                                                <td colspan="6" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="align-center">
                                                <ul style="padding-left: 0px;">
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padSortSuratMasuk(-1)" ng-disabled="currentPageSortSuratMasuk==0" aria-label="Use Android" style="cursor: pointer;">
                                                            &lt; PREV
                                                        </button>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageSortSuratMasuk+1}} Of {{maxSizeSortSuratMasuk}}</span>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padSortSuratMasuk(1)" ng-disabled="maxSortSuratMasuk()" aria-label="Use Android" style="cursor: pointer;">
                                                            NEXT &gt;
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="laporanajuan">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-table">
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 5%">No</th>
                                                <th class="text-center" style="vertical-align: middle">Jenis Surat</th>
                                                <th class="text-center" style="vertical-align: middle">Type Surat</th>
                                                <th class="text-center" style="vertical-align: middle">Waktu Penerimaan</th>
                                                <th class="text-center" style="vertical-align: middle">Status</th>
                                                <th class="text-center" style="vertical-align: middle">Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="history in penilaian.sortHistory" ng-hide="penilaian.sortHistory==0" class="text-center">
                                                <td>{{$index + 1 }}</td>
                                                <td class="text-left">{{history.jenisSurat}}</td>
                                                <td>{{history.suratPejabat == true ? 'Pejabat' : 'Non-Pejabat'}}</td>
                                                <td>{{history.tanggalDibuat}}</td>
                                                <td>{{history.statusPenilaian == 0 ? 'Belum Dibaca' : history.statusPenilaian == 1 ? 'Sudah Dibaca' : history.statusPenilaian == 2 ? 'Diterima' : 'Ditolak'}}</td>
                                                <td style="width: 10%">
                                                    <button type="button" class="btn bg-purple waves-effect" ng-click="penilaian.getDocument(history, 0)" ng-hide="history.loading"><i class="fa fa-file-pdf-o"></i><span> PDF FILE</span></button>
                                                    <button type="button" class="btn btn-secondary" ng-show="history.loading" disabled>MOHON TUNGGU...</button>
                                                </td>
                                            </tr>
                                            <tr ng-show="penilaian.sortHistory==0">
                                                <td colspan="6" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="align-center">
                                                <ul style="padding-left: 0px;">
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padSortHistory(-1)" ng-disabled="currentPageSortHistory==0" aria-label="Use Android" style="cursor: pointer;">
                                                            &lt; PREV
                                                        </button>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageSortHistory+1}} Of {{maxSizeSortHistory}}</span>
                                                    </li>
                                                    <li style="display: inline-block;">
                                                        <button class="btn btn-primary" ng-click="padSortHistory(1)" ng-disabled="maxSortHistory()" aria-label="Use Android" style="cursor: pointer;">
                                                            NEXT &gt;
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="control-sidebar-bg"></div>
</div>
<div class="loader loader-default is-active" data-text="Sedang Mengambil Data" ng-show="penilaian.loading"></div>