<ekinerja-navbar></ekinerja-navbar>
<section style="padding-top: 90px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <i class="material-icons" style="float: left;">assignment</i>
                        <h2 style="padding-left: 30px;padding-top: 3px;">PERSURATAN</h2>
                    </div>
                    <div class="body" style="margin-top: 0px;font-size: 16px;"> 
                        <div class="col-md-12">
                            <div class="col-md-12" style="margin-bottom:10px">
                                <div class="col-sm-3" style="margin-top:5px">
                                    <p><b>Lihat Surat Berdasarkan</b></p>
                                </div>
                                <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                <div class="col-md-6">
                                    <select class="form-control" ng-model="penilaian.lihat" ng-change="penilaian.sorting()">
                                        <option value="0" selected>Semua</option>
                                        <option value="1">Waktu</option>
                                        <option value="2">Jenis Surat</option>
                                        <option value="3">Belum Dibaca</option>
                                        <option value="4">Sudah Dibaca</option>
                                        <option value="5">Ditolak</option>
                                        <option value="6">Diterima</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="penilaian.lihat == 1">
                            <div class="col-md-12" style="margin-bottom:10px">
                                <div class="col-sm-3" style="margin-top:5px">
                                    <p><b>Pilih Tanggal</b></p>
                                </div>
                                <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                <div class="col-md-6">
                                    <input type="date" class="form-control" ng-model="penilaian.tanggal" ng-change="penilaian.sortDate()"></input>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="penilaian.lihat == 2">
                            <div class="col-md-12" style="margin-bottom:10px">
                                <div class="col-sm-3" style="margin-top:5px">
                                    <p><b>Pilih Jenis Surat</b></p>
                                </div>
                                <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                <div class="col-md-6">
                                    <select class="form-control" ng-model="penilaian.jenis" ng-change="penilaian.sortJenis()">
                                        <option value="0">Berita Acara</option>
                                        <option value="1">Laporan</option>
                                        <option value="2">Memorandum</option>
                                        <option value="3">Nota Dinas</option>
                                        <option value="4">Pengumuman</option>
                                        <option value="5">Surat Dinas</option>
                                        <option value="6">Surat Edaran</option>
                                        <option value="7">Surat Keputusan</option>
                                        <option value="8">Surat Keterangan</option>
                                        <option value="9">Surat Kuasa</option>
                                        <option value="10">Surat Pengantar</option>
                                        <option value="11">Surat Perintah</option>
                                        <option value="12">Surat Tugas</option>
                                        <option value="13">Surat Undangan</option>
                                        <option value="14">Telaahan Staff</option>
                                        <option value="15">Template Lain</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="margin-top: -60px;margin-left: 0px;margin-right: 0;">
                                <ul class="nav nav-tabs tab-nav-right" role="tablist" style="padding-top: 50px;">
                                    <li role="presentation" class="active">
                                        <a href="#laporanbawah" data-toggle="tab"><b>Laporan Bawahan</b></a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#suratmasuk" data-toggle="tab"><b>Surat Masuk</b></a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#laporanajuan" data-toggle="tab"><b>Draft</b></a>
                                        <!-- <span class="label-count" style="font-size: 14px;background-color: red; color: white">1</span> -->
                                    </li>
                                </ul>
                            </div>
                        </div>     
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="laporanbawah">
                                <div class="body table-responsive" style="padding-top: 0px;margin-left: -7px;margin-right: -7px;margin-bottom: -30px;">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" style="text-align: center;table-layout: fixed;font-size: 16px;margin-left: 0px;">
                                        <thead>
                                            <tr style="background:#D32F2F; color:#ffff">
                                                <th style="width: 5%; text-align: center">No</th>
                                                <th style="text-align: center">Jenis Surat</th>
                                                <th style="text-align: center">Nama Pelapor</th>
                                                <th style="text-align: center">Waktu Penerimaan</th>
                                                <th style="text-align: center; width: 10%">Status</th>
                                                <th style="text-align: center; width: 30%" >Action</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="ambil in penilaian.sortLaporan" style="text-align: center">
                                                <td>{{$index + 1 }}</td>
                                                <td style="text-align: left;">{{ambil.jenisSurat}}</td>
                                                <td style="text-align: left;">{{ambil.namaBawahan}}</td>
                                                <td style="text-align: left;">{{ambil.tglPengiriman}}</td>
                                                <td style="text-align: left;">{{ambil.statusPenilaian == 0 ? 'Belum Dibaca' : ambil.statusPenilaian == 1 ? 'Sudah Dibaca' : ambil.statusPenilaian == 2 ? 'Diterima' : 'Ditolak'}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-success waves-effect" ng-click="penilaian.terima(ambil, ambil.kdSurat, ambil.suratPejabat)" ng-disabled="ambil.statusPenilaian !=1"><i class="material-icons">edit</i><span>Teruskan</span></button>
                                                    <button type="button" class="btn btn-primary waves-effect" ng-click="penilaian.getDocument(ambil, 1)" ng-hide="ambil.loading"><i class="material-icons">edit</i><span>Lihat Dokumen</span></button>
                                                    <button type="button" class="btn btn-secondary waves-effect" ng-show="ambil.loading" disabled>Mohon Tunggu</button>
                                                    <button type="button" class="btn btn-danger waves-effect" ng-click="penilaian.tolak(ambil)" ng-disabled="ambil.statusPenilaian !=1"><i class="material-icons">delete</i>Tolak</button>
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <div style="padding-top: 3px;" class="pull-right">
                                        <ul>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padDisposisi(-1)" ng-disabled="currentPageDisposisi==0" aria-label="Use Android" style="cursor: pointer;">
                                                  &lt; PREV                          
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageDisposisi+1}} Of {{maxSizeDisposisi}}</span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padDisposisi(1)" ng-disabled="maxDisposisi()" aria-label="Use Android" style="cursor: pointer;">
                                                  NEXT &gt;                          
                                                </button>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade in" id="suratmasuk">
                                <div class="body table-responsive" style="padding-top: 0px;margin-left: -7px;margin-right: -7px;margin-bottom: -30px;">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" style="text-align: center;table-layout: fixed;font-size: 16px;margin-left: 0px;">
                                        <thead>
                                            <tr style="background:#D32F2F; color:#ffff">
                                                <th style="width: 5%; text-align: center">No</th>
                                                <th style="text-align: center">Jenis Surat</th>
                                                <th style="text-align: center">Pemberi Surat</th>
                                                <th style="text-align: center">Waktu Penerimaan</th>
                                                <th style="text-align: center; width: 10%">Status</th>
                                                <th style="text-align: center; width: 30%" >Action</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="surat in penilaian.sortSuratMasuk" style="text-align: center">
                                                <td>{{$index + 1 }}</td>
                                                <td style="text-align: left;">{{surat.jenisSurat}}</td>
                                                <td style="text-align: left;">{{surat.jabatanPemberi}}</td>
                                                <td style="text-align: left;">{{surat.tanggalDibuat}}</td>
                                                <td style="text-align: left;">{{surat.statusBaca == 0 ? 'Belum Dibaca' : 'Sudah Dibaca'}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary waves-effect" ng-click="penilaian.getDocument(surat, 1)" ng-hide="surat.loading"><i class="material-icons">edit</i><span>Lihat Dokumen</span></button>
                                                    <button type="button" class="btn btn-secondary waves-effect" ng-show="surat.loading" disabled>Mohon Tunggu</button>
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="laporanajuan">
                                 <div class="body table-responsive" style="padding-top: 0px;margin-left: -7px;margin-right: -7px;margin-bottom: -30px;">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" style="text-align: center;table-layout: fixed;font-size: 16px;margin-left: 0px;">
                                        <thead>
                                            <tr style="background:#D32F2F; color:#ffff">
                                                <th style="width: 5%; text-align: center">No</th>
                                                <th style="text-align: center">Jenis Surat</th>
                                                <th style="text-align: center">Type Surat</th>
                                                <th style="text-align: center">Waktu Penerimaan</th>
                                                <th style="text-align: center; width: 10%">Status</th>
                                                <th style="text-align: center; width: 20%" >Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="history in penilaian.sortHistory" style="text-align: center">
                                                <td>{{$index + 1 }}</td>
                                                <td style="text-align: left;">{{history.jenisSurat}}</td>
                                                <td style="text-align: left;">{{history.suratPejabat == true ? 'Pejabat' : 'Non-Pejabat'}}</td>
                                                <td style="text-align: left;">{{history.tanggalDibuat}}</td>
                                                <td style="text-align: left;">{{history.statusPenilaian == 0 ? 'Belum Dibaca' : history.statusPenilaian == 1 ? 'Sudah Dibaca' : history.statusPenilaian == 2 ? 'Diterima' : 'Ditolak'}}</td>
                                                <td>
                                                    <!--<button type="button" class="btn btn-success waves-effect" ng-disabled="history.statusPenilaian !=1"><i class="material-icons">edit</i><span>Edit</span></button>-->
                                                    <button type="button" class="btn btn-primary waves-effect" ng-click="penilaian.getDocument(history, 0)" ng-hide="history.loading"><i class="material-icons">remove_red_eye</i><span>Lihat Dokumen</span></button>
                                                    <button type="button" class="btn btn-secondary waves-effect" ng-show="history.loading" disabled>Mohon Tunggu</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <div style="padding-top: 3px;" class="pull-right">
                                        <ul>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
                                                  &lt; PREV                          
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPage+1}} Of {{maxSize}}</span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
                                                  NEXT &gt;                          
                                                </button>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg_load animate-show-hide" ng-show="penilaian.loading"></div>
<div class="wrapper animate-show-hide" ng-show="penilaian.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>