<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Detail Data Perilaku {{detail_perilaku.pegawai.namaPegawai}}</strong></h3>
</div>
<form class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row space-after">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <p><b>Tidak Hadir (Hari)</b></p>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.dataHadir" placeholder="Data" disabled="true">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.nilaiHadir" placeholder="Nilai" disabled="true">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <p><b>Perekaman Datang/Pulang Saja/Datang Terlambat dan Pulang Sebelum Waktunya (menit)</b></p>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.dataPerekamanDatangPulang" placeholder="Data" disabled="true">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.nilaiPerekamanDatangPulang" placeholder="Nilai" disabled="true">
                    </div>
                </div>
            </div>
            <div class="row space-after">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <p><b>Tidak Hadir Apel</b></p>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.dataHadirApel" placeholder="Data" disabled="true">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.nilaiHadirApel" placeholder="Nilai" disabled="true">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <p><b>Tidak Hadir Rapat/Sidang Paripurna (kali)</b></p>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.dataHadirRapat" placeholder="Data" disabled="true">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.nilaiHadirRapat" placeholder="Nilai" disabled="true">
                    </div>
                </div>
            </div>
            <div class="row space-after">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <p><b>Razia Gerakan Disiplin Aparatur (kali)/Pelanggaran Disiplin lain</b></p>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.dataRazia" placeholder="Data" disabled="true">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.nilaiRazia" placeholder="Nilai" disabled="true">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <p><b>Manipulasi Data Kinerja</b></p>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.dataManipulasiData ? 'iya' : 'tidak'" disabled="true">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.nilaiManipulasiData ? '1' : '0'" placeholder="Nilai" disabled="true" disabled="true">
                    </div>
                </div>
            </div>
            <div class="row space-after">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <p><b>Total Faktor Pengurang TPP</b></p>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.totalFaktorPeuranganTpp" placeholder="Data" disabled="true">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <p><b>Nilai (Kebalikan dari pengurangan)</b></p>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" list="aktivitas" name="aktivitas" ng-model="detail_perilaku.pegawai.nilaiKebalikan" placeholder="Data" disabled="true">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="detail_perilaku.cancel()" class="btn btn-danger" data-dismiss="modal">Keluar</button>
    </div>
</form>