<ekinerja-navbar></ekinerja-navbar>
<section style="padding-top: 90px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <i class="material-icons" style="float: left;">assignment</i>
                        <h2 style="padding-left: 30px;padding-top: 3px;"><b> DASHBOARD</b></h2>
                    </div>
                    <div class="body" style="margin-top: 0px;font-size: 16px;">
                        <div class="body table-responsive" style="padding-top: 0px;margin-left: -7px;margin-right: -7px;margin-bottom: -30px;">
                            <div class="col-md-12" style="margin-bottom: 12px">
                                <div class="col-md-6" style="margin-bottom: 0px">
                                    <!-- <div style="margin-top: -60px;margin-left: 0px;margin-right: 0;"> -->
                                    <!-- <ul class="nav nav-tabs tab-nav-right" role="tablist" style="padding-top: 50px;font-size: 16px;">
                                        <li role="presentation" class="active"> -->
                                    <h4>DISPOSISI MASUK</h4><hr style="margin-bottom: 10px; margin-top: 5px">
                                    <!-- </li>
                                </ul> -->
                                    <!-- </div> -->
                                    <div class="list-group" style="overflow-y: scroll; height:380px; margin-bottom: 20px; border-style: solid;">
                                        <div class="list-group">
                                            <div ng-repeat="disposisi in dashboard.naskahDisposisi">
                                                <div class="list-group-item">
                                                    <div ng-hide="disposisi.loading">
                                                        <table style="width: 100%">
                                                            <tr>
                                                                <td style="padding-right:10px; width:30%" rowspan="3"><h4 class="list-group-item-heading"><b>{{disposisi.rahasia}}</b></h4></td>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">{{disposisi.tglPengiriman}}</p></td>
                                                                <td><button ng-click="dashboard.getDokumenDisposisi(disposisi.kdLembarDisposisi, $index)" type="button" class="btn btn-primary btn-block">Buka</button></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">{{disposisi.ringkasanIsi}}</p></td>
                                                                <td><p class="list-group-item-text"></p></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">Oleh <b>{{disposisi.namaPengirim}}</b></p></td>
                                                                <td><button type="button" ng-click="dashboard.tanggapi(1)" class="btn btn-success btn-block">Tanggapi</button></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div ng-show="tugas.loading">
                                                        <p class="mb-1">MOHON TUNGGU...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 20px">
                                    <h4>PENUGASAN MASUK</h4><hr style="margin-bottom: 10px; margin-top: 5px">
                                    <div class="list-group" style="overflow-y: scroll; height:380px; margin-bottom: 0px;border-style: solid;">
                                        <div class="list-group">
                                            <div ng-repeat="tugas in dashboard.naskah">
                                                <div class="list-group-item">
                                                    <div ng-hide="tugas.loading">
                                                        <table style="width: 100%">
                                                            <tr>
                                                                <td style="padding-right:10px; width:30%" rowspan="3"><h4 class="list-group-item-heading"><b>{{tugas.nama}}</b></h4></td>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">{{tugas.tanggalDibuat}}</p></td>
                                                                <td><button ng-click="dashboard.getDokumenLaporan(tugas, 0)" type="button" class="btn btn-primary btn-block">Buka</button></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">{{tugas.judulNaskah}}</p></td>
                                                                <td><p class="list-group-item-text"></p></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">Oleh <b>{{tugas.namaPengirim}}</b></p></td>
                                                                <td><button type="button" ng-click="dashboard.tanggapi(2)" class="btn btn-success btn-block">Tanggapi</button></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div ng-show="tugas.loading">
                                                        <p class="mb-1">MOHON TUNGGU...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 0px">
                                    <h4>LAPORAN MASUK</h4><hr style="margin-bottom: 10px; margin-top: 5px">
                                    <div class="list-group" style="overflow-y: scroll; height:380px; margin-bottom: 0px;border-style: solid;">
                                        <div class="list-group">
                                            <div ng-repeat="tugass in dashboard.laporan">
                                                <div class="list-group-item">
                                                    <div ng-hide="tugass.loading">
                                                        <table style="width: 100%">
                                                            <tr>
                                                                <td style="padding-right:10px; width:30%" rowspan="3"><h4 class="list-group-item-heading"><b>{{tugass.jenisSurat}}</b></h4></td>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">{{tugass.tglMasuk}}</p></td>
                                                                <td><button ng-click="dashboard.getDokumenLaporan (tugass, 1, $index)" type="button" class="btn btn-primary btn-block">Buka</button></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">{{tugass.jenisSurat}}</p></td>
                                                                <td><p class="list-group-item-text"></p></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">Oleh <b>{{tugass.namaBawahan}}</b></p></td>
                                                                <td><button type="button" ng-click="dashboard.tanggapi(3)" class="btn btn-success btn-block">Tanggapi</button></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div ng-show="tugass.loading">
                                                        <p class="mb-1">MOHON TUNGGU...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 0px">
                                    <h4>SURAT MASUK</h4><hr style="margin-bottom: 10px; margin-top: 5px">
                                    <div class="list-group" style="overflow-y: scroll; height:380px; margin-bottom: 0px;border-style: solid;">
                                        <div class="list-group">
                                            <div ng-repeat="history in dashboard.suratMasuk">
                                                <div class="list-group-item">
                                                    <div ng-hide="history.loading">
                                                        <table style="width: 100%">
                                                            <tr>
                                                                <td style="padding-right:10px; width:30%" rowspan="3"><h4 class="list-group-item-heading"><b>{{history.jenisSurat}}</b></h4></td>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">{{history.tanggalDibuat}}</p></td>
                                                                <td><button ng-click="dashboard.getDokumenLaporan(history, 0, $index)" type="button" class="btn btn-primary btn-block">Buka</button></td>
                                                            </tr> 
                                                            <tr>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">{{history.jenisSurat}}</p></td>
                                                                <td><p class="list-group-item-text"></p></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-right:10px"><p class="list-group-item-text">Oleh <b>{{history.namaPemberi}}</b></p></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div ng-show="history.loading">
                                                        <p class="mb-1">MOHON TUNGGU...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg_load animate-show-hide" ng-show="dashboard.loading"></div>
<div class="wrapper animate-show-hide" ng-show="dashboard.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>