<div class="modal-header" style="background-color:#1fcfe0;">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;">Kegiatan</h3>
</div>
<form ng-submit="kegiatan.save()" class="form-horizontal">
<div class="modal-body" id="modal-body">
    <div class="form-body">
        <div class="body">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-md-12" style="margin-bottom:10px"> 
                                <div class="col-sm-3" style="margin-top:5px">
                                    <p><b>Jenis</b></p>
                                </div>
                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                <div class="col-md-6">
                                    <input class="form-control" list="kegiatan" name="kegiiatan" ng-model="kegiatan.kegiatan_pj" placeholder="Pilih Kegiatan">
                                        <datalist id="kegiatan" style="height: 100px">
                                                <option ng-repeat="data in kegiatan.list_kegiatan"
                                         value="{{data.ketKegiatan}}">{{data.ketKegiatan}}</option>
                                        </datalist>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>                              
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
    </div>
</div>
    <div class="modal-footer">
        <button type="submit"  class="btn btn-primary waves-effect">Save</button>
        <button type="button" ng-click="kegiatan.cancel()" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>

    </div> 
        </form>