<div class="modal-header background-pop-up">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>RIWAYAT SURAT DISPOSISI</strong></h3>
</div>
<form ng-submit="tree.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-table">
                                <tr>
                                    <th style="width: 5%; text-align: center; vertical-align: middle">No</th>
                                    <th style="text-align: center; vertical-align: middle">Pegawai Yang Meneruskan</th>
                                    <th style="text-align: center; vertical-align: middle">Waktu Meneruskan</th>
                                    <th style="text-align: center;width: 15%;vertical-align: middle">Tingkat Keamanan</th>
                                    <th style="text-align: center;width: 10%;vertical-align: middle">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="path in tree.path">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>{{path.namaPengirim}}</td>
                                <td>{{path.tglPengiriman}}</td>
                                <td class="text-center">{{path.tktKeamanan == 1 ? 'SR (Sangat Rahasia)' : ''}}
                                    {{path.tktKeamanan == 2 ? 'R (Rahasia)' : ''}}
                                    {{path.tktKeamanan == 3 ? 'B (Biasa)' : ''}}
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn bg-purple waves-effect" ng-click="tree.openPdf(path.kdLembarDisposisi)"><i class="material-icons">picture_as_pdf</i><span>PDF FILE</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="tree.cancel()" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
    </div>
</form>
