<div class="modal-header" style="background-color:#1fcfe0;">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;">Riwayat Surat Disposisi</h3>
</div>
<form ng-submit="tree.save()" class="form-horizontal">
<div class="modal-body" id="modal-body">
    <div class="form-body">
        <div class="body">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-md-12" style="margin-bottom:10px"> 
                                <div>
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" style="text-align: center;table-layout: fixed;font-size: 16px;margin-left: 0px;">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%; text-align: center">No</th>
                                                <th style="text-align: center">Kode Lembar Disposisi</th>
                                                <th style="text-align: center;width: 15%;">Tingkat Keamanan</th> 
                                                <th style="text-align: center;width: 15%;">Action</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="path in tree.path" style="text-align: center">
                                                <td>{{$index + 1}}</td>
                                                <td style="text-align: left;">{{path.path}}</td>
                                                <td style="text-align: left;">{{path.tktKeamanan == 1 ? 'SR' : ''}}
                                                {{path.tktKeamanan == 2 ? 'R' : ''}}
                                                {{path.tktKeamanan == 3 ? 'B' : ''}}
                                                </td> 
                                                <td>
                                                    <button type="button" class="btn bg-purple waves-effect" ng-click="tree.openPdf(path.kdLembarDisposisi)"><i class="material-icons">picture_as_pdf</i><span>PDF FILE</span></button>
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>                              
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
    </div>
</div>
    <div class="modal-footer">
        <!-- <button type="submit"  class="btn btn-primary waves-effect">Save</button> -->
        <button type="button" ng-click="tree.cancel()" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>

    </div> 
        </form>