<div class="wrapper">
<ekinerja-navbar></ekinerja-navbar>
<div class="content-wrapper">
    <section class="content">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li class="pull-left header"><i class="fa fa-list-alt"></i> Pembuatan Telaahan Staff</li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="row col-md-12">
                                <div class="col-md-2 space-after" style="margin-top:5px;font-weight: bold;">Tentang</div>
                                <div class="col-md-4 space-after">
                                    <textarea class="form-control" ng-model="telaahanstaff.item.tentang" required style="height: 100px"></textarea>
                                </div>
                                <div class="col-md-2 space-after" style="margin-top:5px;font-weight: bold;">A. Persoalan</div>
                                <div class="col-md-4 space-after">
                                    <textarea class="form-control" ng-model="telaahanstaff.item.persoalan" required style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4 space-after" style="margin-top:5px;font-weight: bold;margin-left: -15px;">Nama Penandatangan</div>
                                    <div class="col-md-8 space-after" style="margin-left: 10px;">
                                        <button class="btn btn-primary waves-effect" ng-click="telaahanstaff.openDari()" type="button" style="margin-left: 5px">Pilih Pegawai</button>
                                        <div class="col-md-12 space-after" style="margin-left: -15px;margin-top: 5px;">
                                            <div ng-show="telaahanstaff.item.pegawaiPenandatangan"> 
                                                <table>
                                                    <tr>
                                                        <td>Nama</td>
                                                        <td style="padding: 3px">:</td>
                                                        <td>{{telaahanstaff.item.pegawaiPenandatangan.nama}}</td>
                                                    </tr>
                                                    <tr style="vertical-align: text-top">
                                                        <td>Jabatan</td>
                                                        <td style="padding: 3px">:</td>
                                                        <td>{{telaahanstaff.item.pegawaiPenandatangan.jabatan}}</td>
                                                    </tr>
                                                </table>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 space-after" style="margin-top:5px;font-weight: bold;">B. Praanggapan</div>
                                <div class="col-md-4 space-after">
                                    <textarea class="form-control" ng-model="telaahanstaff.item.praanggapan" required style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-md-12">
                                <div class="col-md-2 space-after" style="margin-top:5px;font-weight: bold;">Tanggal penandatanganan</div>
                                <div class="col-md-4 space-after">
                                    <input class="form-control" type="date" ng-model="telaahanstaff.item.tanggal" required>
                                </div>
                                <div class="col-md-2 space-after" style="margin-top:5px;font-weight: bold;">C. Fakta yang Mempengaruhi</div>
                                <div class="col-md-4 space-after">
                                    <textarea class="form-control" ng-model="telaahanstaff.item.faktayangmempengaruhi" required style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-md-12">
                                <div class="col-md-2 space-after" style="margin-top:5px;font-weight: bold;">Waktu Pembuatan</div>
                                <div class="col-md-2 space-after">
                                    <input class="form-control" ng-model="telaahanstaff.item.durasiPengerjaan" type="number" pattern="[0-9]{1,4}" name="quantity" min="1" required></input>
                                </div>
                                <div class="col-md-2 space-after" style="margin-top:5px;font-weight: bold;">Menit</div>
                                <div class="col-md-2 space-after" style="margin-top:5px;font-weight: bold;">D. Analisis</div>
                                <div class="col-md-4 space-after">
                                    <textarea class="form-control" ng-model="telaahanstaff.item.analisis" required style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-md-12">
                                <div class="col-md-6 space-after"></div>
                                <div class="col-md-2 space-after" style="margin-top:5px;font-weight: bold;">E. Simpulan</div>
                                <div class="col-md-4 space-after">
                                    <textarea class="form-control" ng-model="telaahanstaff.item.simpulan" required style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-md-12">
                                <div class="col-md-6 space-after"></div>
                                <div class="col-md-2 space-after" style="margin-top:5px;font-weight: bold;">F. Saran</div>
                                <div class="col-md-4 space-after">
                                    <textarea class="form-control" ng-model="telaahanstaff.item.saran" required style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-md-12">
                                <div style="text-align: right;margin-bottom: 20px;">
                                    <div class="col-md-4"></div>
                                    <button class="btn btn-primary waves-effect space-after" type="submit" style="font-size: 20px">Simpan</button>
                                    <button class="btn btn-success waves-effect space-after" type="button" ng-click="openPdf()" style="font-size: 20px">Lihat</button>
                                    <button class="btn btn-danger waves-effect space-after" type="button" ng-click="telaahanstaff.back()" style="font-size: 20px">Kembali</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="control-sidebar-bg"></div>
</div>
<div class="loader loader-default is-active" data-text="Sedang Mengambil Data" ng-show="telaahanstaff.loading"></div>