<div class="modal-header" style="background-color:#F44236; color:#ffff">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Daftar Pejabat Dalam {{pj.isEselon4 ? 'Kegiatan' : ''}} {{pj.isEselon4 ? pj.kegiatan.ketKeg : pj.kegiatan.ketProgram}}</strong></h3>
</div>
<form ng-submit="kegiatanlist.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row space-after">
                <div class="col-md-4">
                    <button class="btn btn-primary" ng-click="pj.addPJ()"><i class="material-icons">add</i><span> TAMBAH PENANGGUNGJAWAB</span></button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-table">
                            <tr>
                                <th class="text-center" style="width: 5%">No</th>
                                <th class="text-center">NIP Pegawai</th>
                                <th class="text-center">Nama Pegawai</th>
                                <th class="text-center">Jabatan</th>
                                <th class="text-center" style="width: 10%">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="pjj in pj.jabatanDpa">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>{{pjj.nipPegawai}}</td>
                                <td>{{pjj.namaPegawai}}</td>
                                <td>{{pjj.statusPenanggungJawab}}</td>
                                <td class="text-center">
                                    <button type="button" ng-click="pj.remove(pjj)" class="btn btn-danger"><i class="material-icons">delete</i><span> HAPUS</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="pj.cancel()" class="btn btn-danger" data-dismiss="modal">Kembali</button>
    </div>
</form>