<ekinerja-navbar></ekinerja-navbar>
<section style="padding-top: 90px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-bottom: 20px; padding-bottom: 10px;">
                    <div class="header">
                        <i class="material-icons" style="float: left;">assignment</i>
                        <h2>Halaman Persetujuan Kontrak Kerja Pegawai</h2>
                    </div>
                    <div class="body" style="font-size: 17px">
                        <div class="col-md-12"> 
                            <div class="col-md-4" style="margin-left: -30px;margin-bottom:  -10px;"> 
                                <form method="get">
                                    <input class="form-control" list="pegawai" name="pegawai" ng-model="nipPegawai" placeholder="Pilih Pegawai" ng-click="nipPegawai = ''">
                                    <datalist id="pegawai" style="height: 100px">
                                            <option ng-repeat="pegawai in ajuankontrak.list_pegawai"
                                     value="{{pegawai.nipPegawai}}" ng-selected="selected">{{pegawai.namaPegawai}}</option>
                                    </datalist>
                                </form>
                            </div>
                            <div class="col-md-6" style="padding-left: 0px">
                                <table>
                                    <tr>
                                        <td>Nama Pegawai :</td>
                                        <td style="padding-left: 3px"><b>{{ajuankontrak.namaPegawai}}</b></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#ajuan" data-toggle="tab">Uraian Tugas Yang Diajukan</a>
                            </li>
                            <li role="presentation">
                                <a href="#tidakdiajukan" data-toggle="tab">Uraian Tugas Yang Tidak Diajukan</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="ajuan">
                                <div class="body table-responsive" style="padding-bottom: 0px">
                                    <table class="table table-bordered table-striped " cellspacing="0" style="text-align: center;table-layout: fixed;font-size: 16px;">
                                        <thead>
                                            <tr style="background:#D32F2F; color:#ffff">
                                                <th style="width: 5%; text-align: center">No</th>
                                                <th style="text-align: center">Rincian Tugas dan Kegiatan</th>
                                                <th style="width: 10%; text-align: center">Kuant/ Output</th>
                                                <th style="width: 5%; text-align: center">Mutu</th>
                                                <th style="width: 5%; text-align: center">Waktu</th>
                                                <th style="width: 5%; text-align: center">Biaya</th>
                                                <th style="text-align: center; width: 15%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="urtug in ajuankontrak.list_ajuan" style="text-align: center">
                                                <td>{{$index + 1}}</td>
                                                <td>{{urtug.urtug}}</td>
                                                <td>{{urtug.kuantitas + ' ' + urtug.satuanKuantitas}}</td>
                                                <td>{{urtug.kualitas}}</td>
                                                <td>{{urtug.waktu}}</td>
                                                <td>{{urtug.biayaRp}}</td>
                                                <td>
                                                    <button type="button" ng-click="ajuankontrak.gantiStatusUrtug(urtug, 1)" class="btn btn-danger btn waves waves-effect" ng-disabled="!urtug.terima">Tolak</button>
                                                    <button type="button" ng-click="ajuankontrak.gantiStatusUrtug(urtug, 0)" class="btn btn-success btn waves waves-effect" ng-disabled="urtug.terima">Terima</button>
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade in" id="tidakdiajukan">
                                <div class="body table-responsive">
                                    <table class="table table-bordered table-striped" cellspacing="0" style="text-align: center;table-layout: fixed;font-size: 16px;">
                                        <thead>
                                            <tr style="background:#D32F2F; color:#ffff">
                                                <th style="width: 5%; text-align: center">No</th>
                                                <th style="text-align: center">Rincian Tugas dan Kegiatan</th>
                                                <th style="width: 10%; text-align: center">Kuant/ Output</th>
                                                <th style="width: 5%; text-align: center">Mutu</th>
                                                <th style="width: 5%; text-align: center">Waktu</th>
                                                <th style="width: 5%; text-align: center">Biaya</th>
                                                <th style="text-align: center; width: 15%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="urtug in ajuankontrak.list_tidakdiajukan" style="text-align: center">
                                                <td>{{$index + 1}}</td>
                                                <td>{{urtug.urtug}}</td>
                                                <td>{{urtug.kuantitas + ' ' + urtug.satuanKuantitas}}</td>
                                                <td>{{urtug.kualitas}}</td>
                                                <td>{{urtug.waktu}}</td>
                                                <td>{{urtug.biayaRp}}</td>
                                                <td>
                                                    <button type="button" ng-click="ajuankontrak.tambahkan(urtug.kdUrtug)" class="btn btn-success btn waves waves-effect">Tambahkan</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-bottom: 0px">
                                <div class="col-md-11"></div>
                                <div class="col-md-1" style="float: right">
                                    <button type="button" ng-click="ajuankontrak.approve()" class="btn btn-success btn waves waves-effect">Menyetujui</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg_load animate-show-hide" ng-show="ajuankontrak.loading"></div>
<div class="wrapper animate-show-hide" ng-show="ajuankontrak.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>