<div class="modal-header" style="background-color:#F44236; color:#ffff">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;"><strong>Daftar {{kegiatanlist.isEselon4 ? 'Kegiatan' : 'Program'}} Pada Urtug {{kegiatanlist.urtug.urtug}}</strong></h3>
</div>
<form ng-submit="kegiatanlist.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row space-after">
                <div class="col-md-6">
                    <button class="btn btn-primary" ng-click="kegiatanlist.kegiatanadd()" ng-disabled="kegiatanlist.loadUrtug"><i class="material-icons">add</i><span> TAMBAH {{kegiatanlist.isEselon4 ? 'KEGIATAN' : 'PROGRAM'}}</span></button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-table">
                            <tr>
                                <th class="text-center" style="width: 5%">No</th>
                                <th class="text-center">{{kegiatanlist.isEselon4 ? 'Kegiatan' : 'Program'}}</th>
                                <th class="text-center" style="width: 50%">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="pj in kegiatanlist.kegiatan">
                                <td class="text-center">{{$index + 1 }}</td>
                                <td ng-show="kegiatanlist.isEselon4">{{pj.ketKeg}}</td>
                                <td ng-hide="kegiatanlist.isEselon4">{{pj.ketProgram}}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary" ng-click="kegiatanlist.pj(pj)"><i class="material-icons">edit</i><span> PENANGGUNGJAWAB</span></button>
                                    <button type="button" class="btn btn-success" ng-click="kegiatanlist.openDetailUrtug(pj)" ng-show="kegiatanlist.isEselon4"><i class="material-icons">visibility</i><span> DETAIL</span></button>
                                    <button type="button" ng-click="kegiatanlist.deleteKegiatanOrProgram(pj)" class="btn btn-danger"><i class="material-icons">delete</i><span> HAPUS</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="kegiatanlist.cancel()" class="btn btn-danger" data-dismiss="modal">Kembali</button>
    </div>
</form>