<div class="modal-header" style="background-color:#F44236; color:#ffff">
    <h3 class="modal-title" id="modal-title" style="padding-bottom: 15px;font-size: 20px;">
        <!--<strong>Daftar {{kegiatanlist.isEselon4 ? 'Kegiatan' : 'Program'}} Pada Urtug {{kegiatanlist.urtug.urtug}}</strong>-->
        <strong>Daftar Kegiatan Pada Urtug {{kegiatanlist.urtug.urtug}}</strong>
    </h3>
</div>
<form ng-submit="kegiatanlist.save()" class="form-horizontal">
    <div class="modal-body" id="modal-body">
        <div class="form-body">
            <div class="row space-after">
                <div class="col-md-6">
                    <button class="btn btn-primary" ng-click="kegiatanlist.openKegiatan()" ><i class="material-icons">add</i><span> TAMBAH KEGIATAN</span></button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-table">
                            <tr>
                                <th class="text-center" style="width: 5%; vertical-align: middle">No</th>
                                <!--<th class="text-center">{{kegiatanlist.isEselon4 ? 'Kegiatan' : 'Program'}}</th>-->
                                <th class="text-center" style="vertical-align: middle">Kegiatan</th>
                                <th class="text-center" style="vertical-align: middle">Kuantitas</th>
                                <th class="text-center" style="vertical-align: middle">Satuan Kuantitas</th>
                                <th class="text-center" style="vertical-align: middle">Kualitas</th>
                                <th class="text-center" style="vertical-align: middle">Waktu</th>
                                <th class="text-center" style="vertical-align: middle">Biaya</th>
                                <th class="text-center" style="vertical-align: middle">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="pj in kegiatanlist.kegiatan">
                                <td class="text-center" style="vertical-align: middle">{{$index + 1 }}</td>
                                <td style="vertical-align: middle">{{pj.ketKeg}}</td>
                                <td style="text-align: center; vertical-align: middle">-</td>
                                <td style="text-align: center; vertical-align: middle">-</td>
                                <td style="text-align: center; vertical-align: middle">100%</td>
                                <td style="text-align: center; vertical-align: middle">12 Bulan</td>
                                <td style="text-align: center; vertical-align: middle">{{'Rp. '+pj.biaya}}</td>
                                <td class="text-center">
                                    <!-- <button type="button" class="btn btn-primary" ng-click="kegiatanlist.pj(pj)"><i class="material-icons">edit</i><span> PENANGGUNGJAWAB</span></button> -->
                                    <!-- <button type="button" class="btn btn-success" ng-click="kegiatanlist.openDetailUrtug(pj)" ng-show="kegiatanlist.isEselon4"><i class="material-icons">visibility</i><span> DETAIL</span></button> -->
                                    <button type="button" ng-click="kegiatanlist.deleteKegiatanOrProgram(pj)" class="btn btn-danger"><i class="material-icons">delete</i><span> HAPUS</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="kegiatanlist.cancel()" class="btn btn-danger" data-dismiss="modal">Kembali</button>
    </div>
</form>