<div class="wrapper">
<ekinerja-navbar></ekinerja-navbar>
<div class="content-wrapper">
    <section class="content">
        <div class="row" style="margin-top:50px">
            <div class="col-md-4">
                <button type="button" ng-click="master.getSK()" class="btn btn-info"> <b>Print SK</b></button>
            </div>
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="pull-left header" style="font-size: 22px"><i class="fa fa-list-alt"></i> MASTER KEGIATAN</li>
                    </ul>
                    <div class="tab-content">
                        <div class="row space-after" ng-hide="master.kegiatan">
                            <div class="col-md-4">
                                <button type="button" ng-click="master.kembali()" class="btn btn-info"> <b>Kembali</b></button>
                            </div>
                            <div class="col-md-4"></div>
                            <!-- <div class="col-md-2 text-right"><button type="button" ng-click="master.salin()" class="btn btn-info"> <b>Salin Struktur Organisasi</b></button></div> -->
                            <div class="col-md-4 text-right">
                                <button type="button" ng-click="master.addPJ()" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i><b> Tambah Organisasi</b></button>
                            </div>
                        </div>
                        <div class="row animate-show-hide" ng-show="master.kegiatan">
                            <div class="col-md-4 pull-right" style="padding-bottom: 10px;">
                                <input type="text" class="form-control" ng-model="searchKegiatan" ng-required="true" placeholder="Cari berdasarkan Kegiatan...">
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example">
                                        <thead class="bg-table">
                                        <tr>
                                            <th class="text-center" style="width: 5%; vertical-align: middle" rowspan="2">No</th>
                                            <th class="text-center" style="vertical-align: middle" rowspan="2">Kegiatan</th>
                                            <th class="text-center" style="vertical-align: middle" colspan="8">Organiasasi</th>
                                            <th class="text-center" style="vertical-align: middle" rowspan="2">Action</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle">Pengguna Anggaran</th>
                                            <th class="text-center" style="vertical-align: middle">Pelaksana Administrasi</th>
                                            <th class="text-center" style="vertical-align: middle">PPUK</th>
                                            <th class="text-center" style="vertical-align: middle">PPK</th>
                                            <th class="text-center" style="vertical-align: middle">PPTK</th>
                                            <th class="text-center" style="vertical-align: middle">PPBJ</th>
                                            <th class="text-center" style="vertical-align: middle">PPHP</th>
                                            <th class="text-center" style="vertical-align: middle">Tim Teknis</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="kegiatan in filteredDataListKegiatan" class="text-center">
                                            <td>{{$index + 1}}</td>
                                            <td class="text-left">{{kegiatan.ketKegiatan}}</td>
                                            <td class="text-center"><i class="material-icons">{{kegiatan.penggunaAnggaranExist ? 'check' : 'remove'}}</i></td>
                                            <td class="text-center"><i class="material-icons">{{kegiatan.pelaksanaAdministrasiExist ? 'check' : 'remove'}}</i></td>
                                            <td class="text-center"><i class="material-icons">{{kegiatan.bendaharaExist ? 'check' : 'remove'}}</i></td>
                                            <td class="text-center"><i class="material-icons">{{kegiatan.ppkExist ? 'check' : 'remove'}}</i></td>
                                            <td class="text-center"><i class="material-icons">{{kegiatan.pptkExist ? 'check' : 'remove'}}</i></td>
                                            <td class="text-center"><i class="material-icons">{{kegiatan.ppbjExist ? 'check' : 'remove'}}</i></td>
                                            <td class="text-center"><i class="material-icons">{{kegiatan.pphpExist ? 'check' : 'remove'}}</i></td>
                                            <td class="text-center"><i class="material-icons">{{kegiatan.timTeknisExist ? 'check' : 'remove'}}</i></td>
                                            <td class="text-center">
                                                <button type="button" ng-click="master.gotoPj(kegiatan)" class="btn btn-success btn waves waves-effect"><i class="fa fa-cog" aria-hidden="true"></i> Setting</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="align-center">
                                        <ul style="padding-left: 0px;">
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padListKegiatan(-1)" ng-disabled="currentPageListKegiatan==0" aria-label="Use Android" style="cursor: pointer;">
                                                    &lt; PREV
                                                </button>
                                            </li>
                                            <li style="display: inline-block;">
                                                <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageListKegiatan+1}} Of {{maxSizeListKegiatan}}</span>
                                            </li>
                                            <li style="display: inline-block;">
                                                <button class="btn btn-primary" ng-click="padListKegiatan(1)" ng-disabled="maxListKegiatan()" aria-label="Use Android" style="cursor: pointer;">
                                                    NEXT &gt;
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row animate-show-hide " ng-show="master.pj">
                            <div class="col-md-12">
                                <h3 class="space-after">Kegiatan {{master.dpa.ketKegiatan}}</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example">
                                        <thead class="bg-table">
                                        <tr>
                                            <th class="text-center" style="width: 5%">No</th>
                                            <th class="text-center">NIP</th>
                                            <th class="text-center">Nama Pegawai</th>
                                            <th class="text-center">Jabatan</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="pj in master.kegiatanPj" class="text-center">
                                            <td>{{$index + 1 + (numPerPageListKegiatan*currentPageListKegiatan)}}</td>
                                            <td>{{pj.penanggungJawab.nip}}</td>
                                            <td class="text-left">{{pj.penanggungJawab.nama}}</td>
                                            <td>{{pj.statusPenanggungJawab}}</td>
                                            <td>
                                                <!-- <button type="button" ng-click="master.editPJ(pj)" class="btn btn-success btn waves waves-effect">Ubah</button> -->
                                                <button type="button" ng-click="master.hapusPj(pj)" class="btn btn-danger btn waves waves-effect"><i class="fa fa-trash" aria-hidden="true"></i> Hapus</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="control-sidebar-bg"></div>
</div>
<div class="loader loader-default is-active" data-text="Sedang Mengambil Data" ng-show="master.loading"></div>