<ekinerja-navbar></ekinerja-navbar>
<section style="width: 90%;padding-left: 10%;padding-top: 100px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Pembuatan Surat Disposisi</h2>
                    </div>
                    <div class="body">
                        <form ng-submit="perpindahan.save()" class="form-horizontal">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <!-- <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Nomor Agenda/Registrasi</b></p>
                                    </div> 
                                    <div class="col-md-2">
                                        <input type="number" class="form-control" ng-model="instruksipejabat.item.nomorSurat" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Tingkat Keamanan</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-model="instruksipejabat.item.judulInstruksi" required style="height: 100px"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Tanggal Penerimaan</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-model="instruksipejabat.item.tentang" required style="height: 100px"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Tanggal Penyelesaian</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-model="instruksipejabat.item.alasan" required style="height: 100px"></textarea>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-12" style="margin-bottom:10px">
	                                <div class="col-sm-5" style="margin-top:5px">
	                                    <p><b>Nomor Agenda/Registrasi</b></p>
	                                </div>
	                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
	                                <div class="col-md-6">
	                                    <input type="text" class="form-control" ng-model="perpindahan.item.kdLembarDisposisiParent" ng-required="true" style="text-align: right">
	                                </div>
	                            </div> -->
	                            <div class="col-md-12" style="margin-bottom:10px">
	                                <div class="col-sm-5" style="margin-top:5px">
	                                    <p><b>Tkt.Keamanan</b></p>
	                                </div>
	                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
	                                <div class="col-md-2">
	                                    <select type="text" class="form-control" ng-model="perpindahan.item.tktKeamanan" ng-required="true">
	                                            <option value="1">SR</option>
	                                            <option value="2">R</option>
	                                            <option value="3">B</option>
	                                    </select>
	                                </div>
	                            </div>
	                            <div class="col-md-12" style="margin-bottom:10px">
	                                <div class="col-sm-5" style="margin-top:5px">
	                                    <p><b>Tanggal Penerimaan</b></p>
	                                </div>
	                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
	                                <div class="col-md-6">
	                                    <input type="date" class="form-control" ng-model="perpindahan.item.tanggalPenerimaanMilis" ng-required="true">
	                                </div>
	                            </div>
	                            <div class="col-md-12" style="margin-bottom:10px">
	                                <div class="col-sm-5" style="margin-top:5px">
	                                    <p><b>Tanggal Penyelesaian</b></p>
	                                </div>
	                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
	                                <div class="col-md-6">
	                                    <input type="date" class="form-control" ng-model="perpindahan.item.tglPenyelesaianMilis" ng-required="true">
	                                </div>
	                            </div>
	                            <div class="col-md-12" style="margin-bottom:10px">
	                                <div class="col-sm-5" style="margin-top:5px">
	                                    <p><b>Tanggal Surat Disposisi</b></p>
	                                </div>
	                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
	                                <div class="col-md-6">
	                                    <input type="date" class="form-control" ng-model="perpindahan.item.tanggalSuratDisposisiMilis" ng-required="true">
	                                </div>
	                            </div>
	                            <div class="col-md-12" style="margin-bottom:10px">
	                                <div class="col-sm-5" style="margin-top:5px">
	                                    <p><b>Nomor Surat</b></p>
	                                </div>
	                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
	                                <div class="col-md-6">
	                                    <input type="text" class="form-control" ng-model="perpindahan.item.noSuratDisposisi" ng-required="true">
	                                </div>
	                            </div>
	                            <div class="col-md-12" style="margin-bottom:10px">
	                                <div class="col-sm-5" style="margin-top:5px">
	                                    <p><b>Dari</b></p>
	                                </div>
	                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
	                                <div class="col-md-6">
	                                    <!-- <input type="text" class="form-control" ng-model="perpindahan.item.dariSuratDisposisi" ng-required="true"> -->
	                                    <form method="get">
                                                <input class="form-control" list="pegawai" name="pegawai" ng-model="perpindahan.nipDari" placeholder="Pilih Pegawai" ng-change="perpindahan.getPegawaiDari()">
                                                <datalist id="pegawai">
                                                        <option ng-repeat="pgw in perpindahan.list_pegawai"
                                                 value="{{pgw.nipPegawai}}" ng-selected="selected" >{{pgw.nama}}</option>
                                                </datalist>
                                            </form>
                                            <div ng-show="perpindahan.item.dariSuratDisposisi">Nama: {{perpindahan.item.dariSuratDisposisi.nama}}</div>
                                            <div ng-show="perpindahan.item.dariSuratDisposisi">Jabatan: {{perpindahan.item.dariSuratDisposisi.jabatan}}</div>
	                                </div>
	                            </div>
	                            <div class="col-md-12" style="margin-bottom:10px">
	                                <div class="col-sm-5" style="margin-top:5px">
	                                    <p><b>Ringkasan Isi</b></p>
	                                </div>
	                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
	                                <div class="col-md-6">
                                        <textarea class="form-control" ng-model="perpindahan.item.ringkasanIsiSuratDisposisi" required style="height: 100px"></textarea>
                                    </div>
	                            </div>
                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-sm-5" style="margin-top:5px">
                                        <p><b>Isi</b></p>
                                    </div>
                                    <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-model="perpindahan.item.isiDisposisi" required style="height: 100px"></textarea>
                                    </div>
                                </div>
	                            <div class="col-md-12" style="margin-bottom:10px">
	                                <div class="col-sm-5" style="margin-top:5px">
	                                    <p><b>Lampiran</b></p>
	                                </div>
	                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
	                                <div class="col-md-6">
	                                    <input type="text" class="form-control" ng-model="perpindahan.item.lampiran" ng-required="true">
	                                </div>
	                            </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-3" style="margin-top:5px">
                                        <p><b>Memberi Instruksi Kepada :</b></p>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-repeat="target in perpindahan.target">
                                    <hr>
                                    <div class="col-md-12" style="margin-bottom:10px"> 
                                        <div class="col-md-1"></div> 
                                        <div class="col-sm-2" style="margin-top:5px">
                                            <p><b>Diteruskan Kepada</b></p>
                                        </div>
                                        <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                        <div class="col-md-6">
                                            <form method="get">
                                                <input class="form-control" list="pegawai" name="pegawai" ng-model="target.pegawai" placeholder="Pilih Pegawai" ng-change="perpindahan.getPegawai($index)">
                                                <datalist id="pegawai">
                                                        <option ng-repeat="pgw in perpindahan.list_pegawai"
                                                 value="{{pgw.nipPegawai}}" ng-selected="selected" >{{pgw.nama}}</option>
                                                </datalist>
                                            </form>
                                            <div ng-show="target.pegawai">Nama: {{target.pegawaiTarget.nama}}</div>
                                            <div ng-show="target.pegawai">Jabatan: {{target.pegawaiTarget.jabatan}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-7"></div>
                                    <button class="btn btn-primary waves-effect" ng-click="perpindahan.addTarget()" style="margin-left: 5px">+ DIteruskan Kepada</button>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b></b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6" style="margin-left: 25px">
                                        <div class="col-md-6"></div> 
                                        <button class="btn btn-primary waves-effect" type="submit" style="font-size: 20px">Simpan</button>
                                        <button type="button" class="btn btn-danger waves-effect" ng-click="openPdf()" style="font-size: 20px">PDF</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg_load animate-show-hide" ng-show="perpindahan.loading"></div>
<div class="wrapper animate-show-hide" ng-show="perpindahan.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>