<ekinerja-navbar></ekinerja-navbar>
<section style="width: 90%;padding-left: 10%;padding-top: 100px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Pembuatan Surat Keputusan</h2>
                    </div>
                    <div class="body">
                        <form ng-submit="suratkeputusan.save()" class="form-horizontal">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-md-12" style="margin-bottom:10px">
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Nomor</b></p>
                                    </div>  
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-2">
                                        <input type="number" class="form-control" ng-model="suratkeputusan.item.nomorSurat" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" >
                                        <p><b>Jabatan Pembuat Keputusan</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input class="form-control" ng-model="suratkeputusan.item.jabatan" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Unit Kerja Pembuat Keputusan</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input class="form-control" ng-model="suratkeputusan.item.unit" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Selaku</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" ng-model="suratkeputusan.item.selaku" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Tentang</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-model="suratkeputusan.item.tentang" required style="height: 100px"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Menimbang</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-model="suratkeputusan.item.menimbang" required style="height: 100px"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Mengingat</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-model="suratkeputusan.item.mengingat" required style="height: 100px"></textarea>
                                    </div>
                                </div>
                                <!-- <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-3" style="margin-top:5px">
                                        <p><b>Memutuskan :</b></p>
                                    </div>
                                </div> -->
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Memutuskan</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <div ng-repeat="keputusan in suratkeputusan.keputusan">
                                            <textarea class="form-control" ng-model="keputusan.deskripsi" required style="height: 100px"> </textarea>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary waves-effect" ng-click="suratkeputusan.addKeputusan()" type="button" style="margin-left: 15px">+ Tambah Point Keputusan</button>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Kota Penetapan Keputusan</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input class="form-control" ng-model="suratkeputusan.item.tempat" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b>Nama Penandatangan</b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6">
                                        <input class="form-control" ng-model="suratkeputusan.item.nama" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom:10px"> 
                                    <div class="col-md-1"></div> 
                                    <div class="col-sm-2" style="margin-top:5px">
                                        <p><b></b></p>
                                    </div>
                                    <!-- <div class="col-sm-1" style="margin-top:5px"><b>:</b></div> -->
                                    <div class="col-md-6" style="margin-left: 25px">
                                        <div class="col-md-6"></div>
                                        <button class="btn btn-primary waves-effect" type="submit" style="font-size: 20px">Simpan</button>
                                        <button class="btn btn-danger waves-effect" ng-click="openPdf()" style="font-size: 20px">Kembali</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="bg_load animate-show-hide" ng-show="ajuankontrak.loading"></div>
<div class="wrapper animate-show-hide" ng-show="ajuankontrak.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div> -->