<div class="wrapper">
<ekinerja-navbar></ekinerja-navbar>
<div class="content-wrapper">
    <section class="content">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="pull-left header"><i class="fa fa-list-alt"></i> Daftar Data Pegawai</li>
                    </ul>
                    <div class="tab-content">
	                    <div role="tabpanel" class="tab-pane fade in active">
	                        <div class="akses.loading">
								<div class="row">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped table-hover js-basic-example">
												<thead class="bg-table">
												<tr>
													<th style="width: 5%; text-align: center">
														<select type="text" class="form-control" ng-model="entries" ng-required="true" placeholder="Entries">
															<option value="5">5</option>
															<option value="10">10</option>
															<option value="25">25</option>
															<option value="50">50</option>
															<option value="100">100</option>
														</select>
													</th>
													<th style="width: 20%;">
														<input type="text" class="form-control" ng-model="searchNip" ng-required="true" placeholder="NIP Pegawai">
													</th>
													<th style="width: 30%; text-align: center">
														<input type="text" class="form-control" ng-model="searchName" ng-required="true" placeholder="Nama Pegawai">
													</th>
													<th style="text-align: center;">
														<input type="text" class="form-control" ng-model="searchJabatan" ng-required="true" placeholder="Jabatan Pegawai">
													</th>
													<th style="text-align: center;">
														<input type="text" class="form-control" ng-model="searchUnitKerja" ng-required="true" placeholder="Unit Kerja Pegawai">
													</th>
													<th style="text-align: center;">
														<input type="text" class="form-control" ng-model="searchStatus" ng-required="true" placeholder="Status Pegawai">
													</th>
												</tr>
												</thead>

												<tbody>
												<tr ng-repeat="data in filteredData" ng-click="akses.open(data)" class="text-center">
													<td style="vertical-align: middle">{{$index + 1 + (numPerPage*currentPage)}}</td>
													<td style="vertical-align: middle">{{data.nipPegawai}}</td>
													<td class="text-left" style="vertical-align: middle">{{data.nama}}</td>
													<td style="vertical-align: middle">{{data.jabatan}}</td>
													<td style="vertical-align: middle">{{data.unitKerja}}</td>
													<td style="vertical-align: middle">{{data.role}}</td>
												</tr>
												</tbody>
											</table>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="align-center">
													<ul style="padding-left: 0px">
														<li style="display: inline-block;">
															<button class="btn btn-primary" ng-click="pad(-1)" ng-disabled="currentPage==0" aria-label="Use Android" style="cursor: pointer;">
																&lt; PREV
															</button>
														</li>
														<li style="display: inline-block;">
														<span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPage+1}} Of {{maxSize}}</span>
														</li>
														<li style="display: inline-block;">
															<button class="btn btn-primary" ng-click="pad(1)" ng-disabled="max()" aria-label="Use Android" style="cursor: pointer;">
																NEXT &gt;
															</button>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="control-sidebar-bg"></div>
</div>


<!-- <div class="bg_load animate-show-hide" ng-show="akses.loading"></div>
<div class="wrapper animate-show-hide" ng-show="akses.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div> -->
