<ekinerja-navbar></ekinerja-navbar>
<section style="padding-top: 90px">
    <div class="container-fluid">
        <div class="card">
            <div class="page">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" style="margin: 0px">
                            <table>
                                <tr>
                                    <td><i class="material-icons inline-icon">format_list_bulleted</i></td>
                                    <td class="header-size2" style="vertical-align: middle">&nbsp<strong>Persuratan</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="hr-space">

                <div class="row">
                    <div class="col-md-12">

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="masuk">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="bg-table">
                                                <tr>
                                                    <th class="text-center" style="width: 5%">No</th>
                                                    <th classi="text-center">Jenis Surat</th>
                                                    <th class="text-center">Nama Pemberi</th>
                                                    <th class="text-center">Tanggal Dibuat</th>
                                                    <th class="text-center">Status Baca</th>
                                                    <th class="text-center" style="width: 15%">Action</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="srt in persuratan.surat">
                                                    <td class="text-center" style="vertical-align: middle">{{$index + 1}}</td>
                                                    <td style="vertical-align: middle">{{srt.jenisSurat}}</td>
                                                    <td style="vertical-align: middle">{{srt.namaPemberi}}</td>
                                                    <td style="vertical-align: middle">{{srt.waktu}}</td>
                                                    <td style="vertical-align: middle">{{srt.statusPenyebaran == 0 ? 'Belum Disebarkan' : 'Sudah Disebarkan'}}</td>
                                                    <td class="text-center" style="vertical-align: middle">
                                                        <!-- <button type="button" ng-show="persuratan.jenis == 0" ng-click="penugasan.teruskan(persuratan.kdSurat, persuratan.suratPejabat)" class="{{persuratan.statusBaca != 1 ?'btn waves-effect' : 'btn bg-blue waves-effect'}}" ng-disabled="persuratan.statusBaca != 1"><i class="material-icons">fast_forward</i> TERUSKAN</button> -->
                                                        <p><strong>-</strong></p>
                                                    </td>
                                                </tr>
                                                <tr ng-show="filteredDataPenugasan==0">
                                                    <td colspan="6" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="align-center">
                                                    <ul style="padding-left: 0px;">
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary waves-effect" ng-click="padPenugasan(-1)" ng-disabled="currentPagePenugasan==0" aria-label="Use Android" style="cursor: pointer;">
                                                                &lt; PREV
                                                            </button>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPagePenugasan+1}} Of {{maxSizePenugasan}}</span>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary waves-effect" ng-click="padPenugasan(1)" ng-disabled="maxPenugasan()" aria-label="Use Android" style="cursor: pointer;">
                                                                NEXT &gt;
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="bg_load animate-show-hide" ng-show="penugasan.loading"></div>
<div class="wrapper animate-show-hide" ng-show="penugasan.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>
