<div class="wrapper">
    <ekinerja-navbar></ekinerja-navbar>
    <div class="content-wrapper">
        <section class="content">

            <div class="row" style="margin-top:50px">
                <div class="col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-right">
                            <li role="presentation" class="active">
                                <a href="#masuk" data-toggle="tab">Surat Masuk</a>
                            </li>
                            <li role="presentation">
                                <a href="#keluar" data-toggle="tab">Surat Keluar</a>
                            </li>
                            <li class="pull-left header" style="font-size: 22px"><i class="fa fa-circle-o"></i> PERSURATAN</li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="masuk">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="bg-table">
                                                <tr>
                                                    <th class="text-center" style="width: 5%">No</th>
                                                    <th classi="text-center">Jenis Surat</th>
                                                    <th class="text-center">Nama Pemberi</th>
                                                    <th class="text-center">Tanggal Dibuat</th>
                                                    <th class="text-center">Status Baca</th>
                                                    <th class="text-center" style="width: 15%">Action</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="srt in filteredDataSurat">
                                                    <td class="text-center" style="vertical-align: middle">{{$index + 1 + (numPerPageSurat*currentPageSurat)}}</td>
                                                    <td style="vertical-align: middle">{{srt.jenisSurat}}</td>
                                                    <td style="vertical-align: middle">{{srt.namaPemberi}}</td>
                                                    <td style="vertical-align: middle">{{srt.waktu}}</td>
                                                    <td style="vertical-align: middle">{{srt.statusPenyebaran == 0 ? 'Belum Disebarkan' : 'Sudah Disebarkan'}}</td>
                                                    <td class="text-center" style="vertical-align: middle">
                                                        <button type="button" class="{{srt.statusPenyebaran == 1 ?'btn bg-gray-active waves-effect' : 'btn bg-blue waves-effect'}}" ng-click="persuratan.changeStatus(srt)" ng-disabled="srt.statusPenyebaran == 1"><i class="fa fa-paper-plane" aria-hidden="true"></i> KIRIM</button>
                                                        <!--<p><strong>-</strong></p>-->
                                                    </td>
                                                </tr>
                                                <tr ng-show="filteredDataPenugasan==0">
                                                    <td colspan="6" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="align-center">
                                                    <ul style="padding-left: 0px;">
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary" ng-click="padSurat(-1)" ng-disabled="currentPageSurat==0" aria-label="Use Android" style="cursor: pointer;">
                                                                &lt; PREV
                                                            </button>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageSurat+1}} Of {{maxSizeSurat}}</span>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary" ng-click="padSurat(1)" ng-disabled="maxSurat()" aria-label="Use Android" style="cursor: pointer;">
                                                                NEXT &gt;
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="keluar">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="bg-table">
                                                <tr>
                                                    <th class="text-center" style="width: 5%">No</th>
                                                    <th classi="text-center">Jenis Surat</th>
                                                    <th class="text-center">Nama Pemberi</th>
                                                    <th class="text-center">Tanggal Dibuat</th>
                                                    <th class="text-center">Status Baca</th>
                                                    <th class="text-center" style="width: 15%">Action</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr>
                                                    <td colspan="6" class="text-center" style="vertical-align: middle; font-size: 25px"><strong>DATA KOSONG</strong></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="align-center">
                                                    <ul style="padding-left: 0px;">
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary" ng-click="padSurat(-1)" ng-disabled="currentPageSurat==0" aria-label="Use Android" style="cursor: pointer;">
                                                                &lt; PREV
                                                            </button>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <span style="margin-left:15px;margin-right: 15px;display: inline-block;">Page {{currentPageSurat+1}} Of {{maxSizeSurat}}</span>
                                                        </li>
                                                        <li style="display: inline-block;">
                                                            <button class="btn btn-primary" ng-click="padSurat(1)" ng-disabled="maxSurat()" aria-label="Use Android" style="cursor: pointer;">
                                                                NEXT &gt;
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <div class="control-sidebar-bg"></div>
</div>
<!-- <div class="bg_load animate-show-hide" ng-show="penugasan.loading"></div>
<div class="wrapper animate-show-hide" ng-show="penugasan.loading">
    <div class="inner" style="padding-top: 180px">
        <span>Sedang</span>
        <span>Mengambil</span>
        <span>Data</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div> -->